.-btn-main {
    width: 200px;
	margin-top: 10px;
	padding: 8px 30px;

	display: inline-block;

	font-size: 16px;
	font-weight: bold;
    text-align: center;
	text-transform: uppercase;
    
	background: var(--secondary-color);
	color: #fff;
    
	border-radius: 20px;
	border: 0;
}
.-btn-main:hover {
	transform: scale(0.98);
}