<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>BOLT | FAQ</title>

    <link rel="shortcut icon" href="/static/img/logo-transp.png">

    <link rel="stylesheet" href="FAQ.css">
    <link rel="stylesheet" href="-btn-style.css">
</head>
<body>

    <div class="main-box">
        <section class="FAQ-box">
            
            <header>
                <h1>FAQ</h1>
                <a href="/" class='-btn-main'>back</a>
            </header>
            
            <% for(let i=0; i<FAQ.length; i++) { %>
                <div class="faq-section rellax" data-rellax-speed="5">
                    <h2><%= FAQ[i].title %></h2>
                    <p><%= FAQ[i].text %></p>
                </div>
            <% } %>
        </section>  <!-- FAQ-box -->
    </div> <!-- main-box -->


    <script src="https://cdn.jsdelivr.net/gh/dixonandmoe/rellax@master/rellax.min.js"></script>
    <script>
        let rellax = new Rellax('.rellax')
    </script>

</body>
</html>