@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800;900&display=swap');

:root {
	--primary-color: #2d2254;
    
    --primary-grad1: var(--primary-color);
    --primary-grad2: #402f7c;

	--secondary-color: #f5c42f;
	--text-color: #c5bbec;

    --max-width: 1650px;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body {
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	line-height: 1.6;

	background: var(--primary-grad2);
    color: #fff;

    position: relative;
}

/* Hide Scrollbars But Keep Functionality */
html, body {
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
html::-webkit-scrollbar, body::-webkit-scrollbar {
    /* Hide scrollbar for Chrome, Safari and Opera */
    display: none;
}

.main-box {
    content: '';
    position: absolute;

    inset: 0;
    width: 100%;
    height: 66.667vw;  /* should be vw here, not vh - due to gradient proper work */

    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    z-index: 1;
}
.main-box::after {
	--col1: #402f7c88;
    --col2: #402f7c;

    content: '';

    position: absolute;
    inset: 0;
    
    background: -webkit-linear-gradient(90deg, var(--col1), var(--col2));
    background: -moz-linear-gradient(135deg, var(--col1), var(--col2));
    background: linear-gradient(180deg, var(--col1), var(--col2));

    z-index: 2;
}

.FAQ-box {
    position: absolute;
    inset: 0;

    width: 95%;
    max-width: var(--max-width);
    margin: 0 auto;
    z-index: 10;
}

header {
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 1rem 0 3rem;
}

.FAQ-box h1 {
    font-size: 4rem;
    color: white;
    text-shadow: 0 0 7px hsla(0, 0%, 20%, 0.85);
}
.faq-section {
    width: 100%;
    margin: 2rem 0;

    padding: 1rem;
    background-color: #c5bbec1c;
}
.faq-section h2 {
    color:var(--secondary-color);
}
.faq-section p {
    text-align: justify;
}




/* MAIN-BOX Image */
@media (min-width: 1535px) {
    .main-box {
        background-image: url('/static/img/faq_1920.jpg');
    }
}
@media (max-width: 1535px) {
    .main-box {
        background-image: url('/static/img/faq_1535.jpg');
    }
}
@media (max-width: 1150px) {
    .main-box {
        background-image: url('/static/img/faq_1150.jpg');
    }
    .faq-section h2 {
        font-size: 22px;
    }
    .faq-section p {
        font-size: 16px;
    }
}
@media (max-width: 770px) {
    .main-box {
        background-image: url('/static/img/faq_770.jpg');
    }
    header {
        display: block;
    }
    html, body {
        font-size: 16px;
        line-height: 1.3;
    }
}