@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;800&display=swap');

:root {
    --max-width: 1440px;
	--box-width: 34.5rem;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body {
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
}


/* screen #1 */
/* header */
header {
	width: 100%;
	position: relative;
}

.burger-box {
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
}
.burger {
	width: 1rem;
	height: 1.2rem;
	border-top: 2px solid #AAAAAA;
	border-bottom: 2px solid #AAAAAA;
	position: relative;
}
.burger::after {
	position: absolute;
	top: calc(50% - 1px);

	content: "";
	width: 100%;
	height: 2px;
	background-color: #AAAAAA;

	z-index: 1;
}

.screen-box {
	margin: 0 auto;
	padding: 5.8rem 7.25%;

	width: 100%;
	max-width: var(--max-width);
}
.one-line-box {
	width: 100%;
	display: inline-flex;
	align-items: center;
	justify-content: space-between;
}
.-flex-box {
	display: flex;
}

.ico-box {
	width: 5.3rem;
	height: 1rem;
	display: inline-flex;
	align-items: center;
	justify-content: space-between;
	text-align: right;
	position: relative;
}

.logo {
	width: 45%;
	position: absolute;
}
.company-name {
	margin-left: 3.3rem;
	font-size: 0.83rem;
	font-weight: 800;
	text-transform: uppercase;
	color: #AAAAAA;
}
header menu {
	width: var(--box-width);
	font-family: 'Montserrat';

	display: inline-flex;
	align-items: center;
	justify-content: space-between;
}
.menu-bar {
	width: var(--box-width);
	height: 0.44rem;
	background-color: #82C3FF;
	position: absolute;
	top: 0;
}
.menu-item {
	font-style: normal;
	font-weight: 500;
	font-size: 0.83rem;
	line-height: 1rem;
	
	text-decoration: none;
	text-transform: uppercase;
	
	color: #AAAAAA;
	transition: all 0.25s linear;
}
.menu-item:hover {
	color: #25487B;
}

.screen-title {
	width: var(--box-width);

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 2.44rem;
	line-height: 3rem;
	
	color: #25487B;

	margin-bottom: 2rem;
}
.screen-text {
	width: calc(var(--box-width)*0.83);

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 0.83rem;
	line-height: 1.39rem;

	text-align: justify;

	color: #0F1C2F;
	margin-bottom: 2rem;
}

.screen-btn {
	width: 300px;
	height: 60px;
	
	display: flex;
	align-items: center;
	justify-content: center;

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 1.11rem;
	line-height: 1.35rem;

	text-transform: uppercase;
	text-decoration: none;

	color: #FFFFFF;

	border-radius: 3px;

	box-shadow: -6px 13px 40px rgba(172, 133, 56, 0.23);

	margin-bottom: 1rem;
	transition: all 0.35s linear;
}
.screen-btn:hover {
	--col2: var(--col3);
}
.-yellow-btn {
	--col1: #FFAE17;
	--col2: #FFD53F;
	--col3: #FFB019;

	background: var(--col1);
	background: -o-linear-gradient(81.35deg, var(--col1) -3.15%, var(--col2) 111.1%);
	background: -moz-linear-gradient(81.35deg, var(--col1) -3.15%, var(--col2) 111.1%);
	background: -webkit-linear-gradient(81.35deg, var(--col1) -3.15%, var(--col2) 111.1%);
	background: linear-gradient(81.35deg, var(--col1) -3.15%, var(--col2) 111.1%);

	text-shadow: 1px 1px 2px rgba(226, 97, 7, 0.5);
}


/* smaller-header-box */
.smaller-header {
	top: 0;
	position: fixed;

	width: 100%;
	background-color: #fff;
	border-bottom: 3px solid #82C3FF;
	opacity: 0.98;

	z-index: 10;
	transition: all 0.25s linear;
}
.smaller-header-box {
	margin: 0 auto;
	padding: 1.22rem 7.25%;

	width: 100%;
	max-width: var(--max-width);
}
.smaller-header-box menu {
	width: var(--box-width);
	font-family: 'Montserrat';

	display: inline-flex;
	align-items: center;
	justify-content: space-between;
}
.small-ico-box {
	width: 2rem;
	height: 1rem;
	display: inline-flex;
	align-items: center;
	justify-content: space-between;
	text-align: right;
	position: relative;
}
.small-company-name {
	margin-left: 1.63rem;
	font-size: 0.83rem;
	font-weight: 800;
	text-transform: uppercase;
	color: #AAAAAA;
}

@keyframes appear {
	from { opacity: 0; }
	to { opacity: 0.99; }
}
.-appear {
	animation: appear 0.5s linear;
}


.screen01 {
	width: 100%;
}
#screen01 {
	background-image: url('/static/images/_screen01.jpg');
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: bottom;
}
#screen02 {
	background-image: url('/static/images/_screen02.png');
	background-repeat: no-repeat;
	background-position-y: center;
	background-size: contain;
}


/* screen #2 */
.color-box {
	width: 100%;
}
.-yellow-box {
	background-color: #FFF2C3;
	/* overflow-x: hidden; */
}
.screen-subtitle {
	width: var(--box-width);

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 1.11rem;
	line-height: 1.35rem;

	display: flex;
	align-items: center;
	text-transform: uppercase;

	color: #A8A085;
	margin-bottom: 3rem;
}

.-left-block, .-right-block {
	width: 50%;
}
.-right-block .screen-title {
	width: calc(var(--box-width)*0.83);
}
.-right-block .screen-text {
	width: calc(var(--box-width)*0.97);
}

.-blue-btn {
	--col1: #243D63;
	--col2: #33578D;
	--col3: #233D62;

	background: var(--col1);
	background: -o-linear-gradient(68.06deg, var(--col1) 16.19%, var(--col2) 83.11%);
	background: -moz-linear-gradient(68.06deg, var(--col1) 16.19%, var(--col2) 83.11%);
	background: -webkit-linear-gradient(68.06deg, var(--col1) 16.19%, var(--col2) 83.11%);
	background: linear-gradient(68.06deg, var(--col1) 16.19%, var(--col2) 83.11%);

	text-shadow: 1px 1px 2px rgba(36, 62, 99, 0.5);
}


/* screen #3 */
.-center-block .screen-title,
.-center-block .screen-subtitle {
	display: block;
	width: 100%;
	text-align: center;
	margin-bottom: 1rem;
}
.items-box, .controls-box {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	text-align: center;
}
.item {
	margin: 1rem auto;

	width: 100%;
	max-width: 256px;
	
	display: flex;
	flex-direction: column;

	align-items: center;
	justify-content: flex-start;
}
.item-description {
	font-family: 'Montserrat';
	font-weight: 500;
	font-size: 1.11rem;
	line-height: 1.35rem;

	text-align: center;
	color: #0F1C2F;
}


/* screen #4 */
.-blue-box {
	--col1: #233D62;
	--col2: #335F9E;

	width: 100%;

	background: var(--col1);
	background: -o-linear-gradient(100.13deg, var(--col1) 6.45%, var(--col2) 109.23%);
	background: -moz-linear-gradient(100.13deg, var(--col1) 6.45%, var(--col2) 109.23%);
	background: -webkit-linear-gradient(100.13deg, var(--col1) 6.45%, var(--col2) 109.23%);
	background: linear-gradient(100.13deg, var(--col1) 6.45%, var(--col2) 109.23%);
}
.-blue-box .screen-title {
	width: 95%;
	max-width: calc(var(--box-width)*1.23);
	color: #fff;
}
.-blue-box .screen-subtitle {
	width: 95%;
	max-width: var(--box-width);
	color: #82C3FF;
}
.-blue-box .screen-text {
	width: 95%;
	max-width: calc(var(--box-width)*1.4);
	font-size: 0.83rem;
	line-height: 1.39rem;
	color: #fff;
}


/* screen #5 */
.-table-box {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}
.feature-item {
	max-width: 20rem;
	/* margin: 0 1.15rem; */
	justify-content: space-between;
}
.feature-box {
	width: 19.44rem;
	height: 19.44rem;
	background: #C4C4C4;
	border-radius: 5.56rem 0px;
	margin-bottom: 2rem;
	position: relative;
}
.feature-box::after {
	content: "";

	position: absolute;
	top: 2.61rem;
	left: 2.61rem;

	width: 17.44rem;
	height: 17.44rem;
	background: #FFD03A;
	border-radius: 5.83rem 0px;

	z-index: -1;
}
.feature-title {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 2.44rem;
	line-height: 3rem;
	
	color: #25487B;
	margin-bottom: 1em;
}
.feature-list {
	list-style: none;
	color: #0F1C2F;
	margin-bottom: 3.5rem;
}
.list-item {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 1.11rem;
	line-height: 1.35rem;

	margin-bottom: 1em;
}

.adv-item {
	margin-bottom: 1.15rem;
}
.adv-item svg {
	width: 1.17rem;
	fill: #82C3FF;
	margin-right: 0.5rem;
}


/* screen #10 */
.-one-line-block {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.send-email-title {
	width: 55%;

	font-family: 'Montserrat';
	font-weight: 700;
	font-size: 1.67rem;
	line-height: 2.06rem;

	color: #FFFFFF;
}
.send-email-title span {
	color: #82C3FF;
}
.send-email-box {
	width: 45%;

	max-width: 27.6rem;
	height: 4.44rem;

	display: flex;
	align-items: center;
	justify-content: center;

	background: #233D62;
	opacity: 0.6;
	box-shadow: 0px 1px 0px #82C3FF;

	border-radius: 5.67rem;
	transition: all 0.25s linear;
}
.send-email-box:hover {
	opacity: 1;
}
.send-email-box button:hover {
	fill: #fff;
}

.send-email-box input {
	margin: 0 5px;
	padding: 2px;
	width: 75%;

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 1.11rem;
	line-height: 1.35rem;

	color: #82C3FF;
	background-color: transparent;
	
	border: none;
	outline: none;
}
.send-email-box input::placeholder{
	color: #82C3FF;
}

.send-email-box button {
	border: none;
	width: 2rem;
	fill: #82C3FF;
	background-color: transparent;
	cursor: pointer;

	transition: all 0.2s linear;
}

/* screen #11 */
.our-team-block {
	display: flex;
}
.right-block {
	width: 62%;
	border-right: 8px solid #82C3FF;
}
.left-block {
	margin-left: 82px;
	width: 38%;
}
.block-text {
	width: 100%;

	font-family: 'Montserrat';
	font-weight: 500;
	font-size: 0.83rem;
	line-height: 1.39rem;
	text-align: justify;

	color: #0F1C2F;
}

/* Our Team */
.team-photos {
	display: flex;
}
.team-founder {
	margin-right: 3rem;
}
.team-founder .team-photo {
	width: 13.44rem;
	height: 13.44rem;
}
.team-member-name {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 1.11rem;
	line-height: 1.35rem;

	color: #000000;
	cursor: default;
}
.team-member-title {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 0.83rem;
	line-height: 1.39rem;

	color: #AAAAAA;
	cursor: default;
}
.team-member {
	display: flex;
	align-items: center;
}
.team-member .team-photo {
	width: 7.89rem;
	height: 7.89rem;
}

.team-photo {
	background: #C4C4C4;
	border-radius: 28.14% 0px;
}

.team-photo-box {
	display: flex;
	align-items: center;
	justify-content: center;

	position: relative;
	margin: 0 1rem 1.35rem 0;
}
.team-photo-box::after {
	content: "";
	position: absolute;
	inset: 0;

	background-color: rgba(36, 62, 99, 0.5);
	border-radius: 28.14% 0px;
	transition: all 0.25s linear;

	z-index: 1;
}
.team-founder:hover .team-photo-box::after,
.team-member:hover .team-photo-box::after {
	background-color: rgba(36, 62, 99, 0.05);
}


/* screen #13 */
.control-title {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 1.11rem;
	line-height: 1.35rem;

	text-align: center;

	color: #0F1C2F;
	margin-bottom: 0.5em;
}
.control-description {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 15px;
	line-height: 25px;

	text-align: center;

	color: #0F1C2F;
}

.-mt {
	border-top: 9px solid #82C3FF;
}
.-mt .screen-title,
.-mt .screen-text {
	width: calc(var(--box-width)*1.2);
}


/* footer */
.footer-line {
	margin: 0 auto;

	width: 85.5%;
	height: 1px;

	background: rgba(17, 33, 55, 0.5);
	box-shadow: 0px 1px 0px rgba(130, 195, 255, 0.2);
}
.footer-block1 {
	display: inline-flex;
	align-items: center;
	justify-content: space-between;
}
.footer-block1 img {
	width: 3.3rem;
	margin-right: 1.28rem;
}
.company-desc-title {
	font-size: 2.75rem;
	font-weight: 800;
	text-transform: uppercase;
	color: #fff;
}
.company-desc-text {
	font-size: 9px;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	color: #82C3FF;
}


.footer-text {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 1.11rem;
	line-height: 1.35rem;

	color: #FFFFFF;
}
.social {
	margin-top: 1rem;

	width: 100%;
	display: inline-flex;
	align-items: center;
	justify-content: space-between;
}

.line1 {
	display: flex;
	align-items: center;
	justify-content: space-between;

	margin-bottom: 1rem;
}
.line-item {
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

.footer-block3 svg {
	margin-right: 0.65em;
}


.-hidden {
	display: none;
}
