@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800;900&display=swap');

:root {
	--primary-color: #2d2254;
    
    --primary-grad1: var(--primary-color);
    --primary-grad2: #0e0a1a;

	--secondary-color: #f5c42f;
	--text-color: #c5bbec;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body {
    width: 100%;
    min-height: 100vh;

	font-family: 'Montserrat', sans-serif;
	font-size: 15px;

	background: var(--primary-grad2);
    color: #fff;
}

/* Hide Scrollbars But Keep Functionality */
html, body {
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
html::-webkit-scrollbar, body::-webkit-scrollbar {
    /* Hide scrollbar for Chrome, Safari and Opera */
    display: none;
}


/* MAIN BOX */
.main-box {
    width: 95%;
    height: 100vh;

    margin: 0 auto;

    background-image: url('/static/img/logo-transp.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    position: relative;
}
.main-box::before {
    content: '';

    position: absolute;
    inset: 0;
    
    background: var(--primary-grad2);
    opacity: 0.85;

    z-index: 0;
}

.main-inner {
    width: 95%;
    max-width: 700px;

    top: 2.5%;
    left: 50%;
    height: 95%;

    transform: translateX(-50%);

    padding: 1rem;
    background: rgba(255, 255, 255, 0.15);
	margin-bottom: 2.5rem;
	border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    position: absolute;
    z-index: 1;
}

menu a {
    margin-right: 1rem;
    font-size: 0.93rem;
    color: #fff;

    transition: all 0.2 linear;
}
menu a:hover {
    opacity: 0.8;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title {
    font-size: 1.75rem;
    color: var(--text-color);
}

.reset-box {
    font-size: 0.93rem;
    color: var(--secondary-color);
    letter-spacing: 1px;

    cursor: pointer;
}
.reset-box:hover {
    text-decoration: underline;
}

.container-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-box input,
.container-box select {
    width: 305px;
    height: 2.7rem;

    padding: 7px;

    font-family: 'Montserrat', sans-serif;
	font-size: 1rem;

    background-color: hsl(253, 45%, 34%, 50%);
    color: var(--text-color);

    border: none;
    outline: none;

    border-bottom: 1px solid var(--text-color);
    border-radius: 3px 3px 0 0;

    margin: 0.5rem 0;

    transition: all 0.2s linear;
}
.container-box input:hover,
.container-box select:hover {
    background-color: hsl(253, 45%, 34%, 60%);
}

.container-box h2 {
    font-size: 1.25rem;
    color: var(--secondary-color);
}

.container-box button {
    width: 150px;
    height: 2.3rem;

    font-family: 'Montserrat', sans-serif;
	font-size: 1rem;

    background-color: #b06f3b;
    color: #fff;

    display: flex;
    align-items: center;
    justify-content: center;

    border: none;
    margin: 0.5rem 0;

    cursor: pointer;
    transition: all 0.2s linear;
}
.container-box button:hover {
    background-color: #9e5a22;
}

.reset-title {
    text-align: center;
}

.info-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.issue-msg, .error-value {
    color: var(--secondary-color);
}

/* register form */
.showpassword-box {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
#showpassword {
    width: 1rem;
    height: 1rem;
    margin-right: 1rem;
}

.-hidden {
    display: none;
}


@media (max-width: 350px) {
    .container-box input, .container-box select {
        width: 100%;
    }
}