@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800;900&display=swap');

:root {
	--primary-color: #2d2254;
    
    --primary-grad1: var(--primary-color);
    --primary-grad2: #0e0a1a;

	--secondary-color: #f5c42f;
	--text-color: #c5bbec;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body {
    width: 100%;

	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
}

/* Hide Scrollbars But Keep Functionality */
html, body {
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
html::-webkit-scrollbar, body::-webkit-scrollbar {
    /* Hide scrollbar for Chrome, Safari and Opera */
    display: none;
}

.contact-box {
    margin: 0 auto;

    width: 95%;
    max-width: 1550px;
}

nav menu {
    padding: 0.35rem 0;
    text-align: center;
    background-color: var(--primary-color);
}
nav menu a {
    font-size: 0.93rem;
    color: #fff;
}

.contact-title {
    font-size: 1.2rem;
    text-align: right;
    color: var(--text-color);
    border-bottom: 1px solid var(--text-color);
}


/* contact-item */
.contact-item {
    margin: 0.5rem 0;
    padding: 1rem 1.75rem;

    background-color: #e6e4fb75;
    border-radius: 2.5rem;

    transition: all 0.25s linear;
}
.item-title {
    padding: 0.75rem;
    background-color: #e6e4fb75;
    border-radius: 2rem;
}
.item-fname {
    color: var(--secondary-color);
    text-shadow: 0px 0px 5px var(--primary-color);
}

.general-data {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.item-svg {
    width: 1.3rem;
    height: 1.3rem;
    fill: #f1b80b;
}
.item-contact {
    margin: 0 3px;
    font-size: 0.83rem;
    font-weight: 600;
    color: var(--primary-color);
}
.admin-data {
    width: 100%;

    display: inline-flex;
    align-items: center;
    justify-content: space-around;

    font-size: 0.83rem;
    background-color: var(--primary-grad2);
    /* color: var(--secondary-color); */
    /* color: #fff; */
    color: var(--text-color);
}
.item-lastSESS,
.item-userBlock,
.item-adminBlock {
    width: 30%;
    max-width: 200px;
    min-width: 200px;

    background-color: rgba(255, 255, 255, 0.15);
    text-align: center;
    border-radius: 1rem;
}
.-block-true {
    background-color: #df5d5dd9;
}
.-block-true .title {
    color: #fff;
}
.-block-true .value {
    color: var(--secondary-color);
}
.block-info {
    color: #e90e14;
    font-style: italic;
}

/* data-section */
.item-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.data-section {
    margin: 0.3rem 1px;
    padding: 3px;
    background-color: #c8c5f34d;
}
.data-section summary {
    text-transform: uppercase;
    font-size: 0.93rem;
    font-weight: 600;
    color: #c05053;
    cursor: pointer;
}
.data-item {
    margin: 0.2rem 1rem;
}
.data-section .title {
    text-transform: capitalize;
}
.data-section .value,
.item-schoolClass {
    font-weight: 600;
}
.item-schoolTransmission {
    font-style: italic;
}

.data-section ul {
    margin-left: 1.33rem;
}

.-schoolPassFail-Failed,
[data-test="failed"] {
    color: #c05053;
}
.-schoolPassFail-Passed,
[data-test="passed"] {
    color: #14a33f;
}

.data-open-close-box {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.data-open-close svg {
    margin-right: 1rem;

    width: 2rem;
    height: 2rem;
    
    fill: #2d2254d1;
    border-radius: 1rem;
    
    transition: all 0.2s linear;
    cursor: pointer;
}
.-make-open {
    box-shadow: 0 0 9px 1px #7988dc;
    transform: rotate(90deg);
}

footer {
    margin: 1rem auto 3rem auto;
    text-align: center;
}  


.-hidden {
    display: none;
}

@media (max-width: 1125px) {
    .item-row {
        display: block;
    }
}
@media (max-width: 635px) {
    .general-data {
        width: 100%;
        justify-content: flex-start;
    }
    .admin-data {
        display: flex;
        flex-wrap: wrap;
    }
    .admin-data * {
        margin: 0.15rem 0;
    }
    .data-section *,
    .data-section summary {
        font-size: 13px;
    }
}
@media (max-width: 475px) {
    .general-data {
        display: block;
    }
    .data-section *,
    .data-section summary {
        font-size: 12px;
    }
}