<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>BoltCDL | Employer Register</title>

    <link rel="shortcut icon" href="/static/img/logo-transp.png">
    <link rel="stylesheet" href="/routers/views/emp-login-register.css">
</head>
<body>
    
    <div class="main-box">
        <div class="main-inner">
            <nav>
                <menu type="toolbar">
                    <a href="/">go back</a>
                    <a href="/employer/login">login</a>
                    <a href="/employer/register">reload</a>
                </menu>
            </nav>

            <section class="container">
                <h1 class="register-title">Employer Register</h1>
                <form action="/employer/register" method="POST" class="container-box">
                    <h2 class="reg-form-subtitle">Representative info</h2>
                    <input type="text" name="repFirstName" class="employer-fn" placeholder="First Name" required />
                    <input type="text" name="repLastName" class="employer-ln" placeholder="Last Name" required />
                    <input type="tel" name="repPhone" class="employer-phone" placeholder="Contact Phone" required />

                    <h2 class="reg-form-subtitle">Company info</h2>
                    <input type="text" name="companyName" class="employer-title" placeholder="Company Title" required />
                    <input type="text" name="companyAddress" class="employer-address" placeholder="Company Address" required />
                    <input type="text" name="companyUBI" class="employer-ubi" placeholder="Company UBI" required />

                    <h2 class="reg-form-subtitle">Credentials</h2>
                    <input type="email" name="email" class="employer-email" placeholder="Email" title="email will be used as a login" value="@" required />
                    <input type="password" name="password" class="employer-password" placeholder="Password" required />

                    <label for="showpassword">
                        <input type="checkbox" id="showpassword" onclick="showPassword()">
                        <span>show password</span>
                    </label>

                    <button type="submit">Submit</button>
                </form>
            </section>      <!-- container -->

            <div class="issue-box">
                <% if(locals.errors) { %>
                    <h2 class="issue-msg">Issue(s) found</h2>
                    <ul>
                        <% errors.forEach(error => { %>
                            <li>
                                <span class="error-msg"><%= error.msg %></span>
                                <span class="error-value">(<%= error.value %>)</span>
                            </li>
                        <% }) %>
                    </ul>
                <% } else { %>
                    <h2 class="issue-msg"></h2>
                <% } %>
            </div>

        </div>  <!-- main-inner -->
    </div>  <!-- main-box -->


    <script defer>

        function showPassword() {
            const password = document.querySelector(".employer-password")
            if (password) {
                password.type = password.type != "text" ? "text" : "password"
            }
        }

    </script>

</body>
</html>