<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>BoltCDL | Employer Profile</title>

    <link rel="shortcut icon" href="/static/img/logo-transp.png">
    <link rel="stylesheet" href="/routers/views/employerHome.css">

</head>
<body>

    <%
        const issuesArray = {
            "wrongCurrentPassword": "Wrong current password",
            "blankCurrentPassword": "Please enter a current password",
            "blankNewPassword": "A new password cannot be blank",
            "newPasswLen": "A new password is too short",
            "equalCurrentNew": "There is nothing to update, a new password is equal to current"
        }
        const infoArray = {
            "passwChanged": "Password was successfully updated"
        }

        function usDateTime(d) {
            return `${new Date(d).toLocaleDateString('en-CA', { timeZone: 'America/Los_Angeles' })} ${new Date(d).toLocaleTimeString('en-CA', { timeZone: 'America/Los_Angeles', hour12: false })}`
        }
        function usDate(d) {
            return `${new Date(d).toLocaleDateString('en-CA', { timeZone: 'America/Los_Angeles' })}`
        }

        const usCurrency = new Intl.NumberFormat('us-US', { style: 'currency', currency: 'USD' })
    %>

    <form class="logout-form" action="/employer/logout" method="post">
        <button type="submit" title="Sign Out">
            <svg viewBox="0 0 448 512">
                <path d="M384 32C419.3 32 448 60.65 448 96V416C448 451.3 419.3 480 384 480H64C28.65 480 0 451.3 0 416V96C0 60.65 28.65 32 64 32H384zM143 208.1L190.1 255.1L143 303C133.7 312.4 133.7 327.6 143 336.1C152.4 346.3 167.6 346.3 176.1 336.1L223.1 289.9L271 336.1C280.4 346.3 295.6 346.3 304.1 336.1C314.3 327.6 314.3 312.4 304.1 303L257.9 255.1L304.1 208.1C314.3 199.6 314.3 184.4 304.1 175C295.6 165.7 280.4 165.7 271 175L223.1 222.1L176.1 175C167.6 165.7 152.4 165.7 143 175C133.7 184.4 133.7 199.6 143 208.1V208.1z" />
            </svg>
        </button>
    </form>

    <div class="main-box">
        <!-- employer data card -->
        <div class="main-card">
            <h2 class="profile-title">Employer profile</h2>
            <% if (locals.employer) { %>
                <!-- UPDATE Password -->
                <h3 class="update-title">Update Password</h3>
                <form class="update-form -container" action="/employer/password-update" method="POST">
                    <div class="inputs">
                        <input type="password" name='currentPassword' placeholder="Current Password" required />
                        <input type="password" name='newPassword' placeholder="New Password" required />
                    </div>
                    <div class="buttons">
                        <label class="show-password" for="showPasswords">
                            <input type="checkbox" id='showPasswords'/>
                            show passwords
                        </label>
                        <button class="-btn" type="submit">Submit</button>
                    </div>
                </form>

                <div class="info-box">
                    <% if(locals.issue) { %>
                        <% if(issuesArray[issue]) { %>
                            <h2 class="issue-msg"><%= issuesArray[issue] %></h2>
                        <% } else { %>
                            <h2 class="issue-msg"><%= issue %></h2>
                        <% } %>
                    <% } %>
                    <% if(locals.info) { %>
                        <% if(infoArray[info]) { %>
                            <h2 class="info-msg"><%= infoArray[info] %></h2>
                        <% } else { %>
                            <h2 class="info-msg"><%= info %></h2>
                        <% } %>
                    <% } %>
                </div>
                    
                <ul>
                    <!-- Company info -->
                    <li><%= employer.companyName %></li>
                    <li><%= employer.companyAddress %></li>
                    <li>UBI: <%= employer.companyUBI %></li>
                    <li><%= employer.email %></li>
                    <div class="-container">
                        <!-- Representative info -->
                        <li>Representative: <%= employer.repFirstName %> <%= employer.repLastName %></li>
                        <li>Contact phone: <%= employer.repPhone %></li>
                    </div>
                    <!-- Dates info -->
                    <li>Created At: <%= usDateTime(employer.createdAt) %></li>
                    <li>Updated At: <%= usDateTime(employer.updatedAt) %></li>
                </ul>

                <a href="/employer/show-saved-contacts">
                    <span>show my contacts</span>
                    <span>(<%= employer.contacts.length %>)</span>
                </a>
            <% } else { %>
                <h2 class="card-title">No employer data</h2>
            <% } %>
        </div>      <!-- main-card -->


        <!-- search data card -->
        <div class="main-card -bigger-card">
            <h2 class="card-title">Students' search filters</h2>
            <div class="search-info-box">
                <span class="search-info">You can search through the student list, and add student profiles to your personal contacts. After adding, students' phones and emails will be available.</span>
                <span class="search-text">Use filters to specify your search if needed or leave filters blank to get the entire student list.</span>
            </div>
            <form action="/employer/show-filtered-contacts" method="post">
                <!-- filters from filtersData.js module -->
                <% if(locals.filters) { %>
                    <% filters.forEach(filter => { %>
                        <div class="filter-item">
                            <label for="<%= filter.id %>"><%= filter.label %></label>
                            <% if(filter.type === "select") { %>
                                <select name="<%= filter.id %>" id="<%= filter.id %>">
                                    <% filter.list.forEach(item => { %>
                                        <option value="<%= item %>"><%= item %></option>
                                    <% }) %>
                                </select>
                            <% } else { %>
                                <input type="<%= filter.type %>" name="<%= filter.id %>" id="<%= filter.id %>">
                            <% } %>
                        </div>
                    <% }) %>
                <% } %>
                <div class="filter-box">
                    <button class="-btn -round-btn" type="submit">search</button>
                </div>
            </form>
        </div>      <!-- main-card -->


        <!-- payments data card -->
        <div class="main-card">
            <h2 class="card-title">Payments</h2>
            <div class="search-info-box">
                <span class="search-text">Your payments history</span>
            </div>
            <% if (locals.employer) { %>
                <% if(employer.payments.length) { %>
                    <% let sum = 0 %>
                    <div class="payment-table">
                        <span>#</span>
                        <span>Paid Date</span>
                        <span>Amount Paid</span>
                        <% employer.payments.forEach((payment, index) => { %>
                            <span><%= index + 1 %></span>
                            <span><%= usDate(payment.whenPaid) %></span>
                            <span><%= usCurrency.format(payment.amountPaid / 100) %></span>
                            <% sum += payment.amountPaid %>
                        <% }) %>
                    </div>
                    <h3 class="pmt-sum"><%= usCurrency.format(sum / 100) %></h3>
                <% } %>
            <% } else { %>
                <h2 class="card-title">no payments found</h2>
            <% } %>
        </div>      <!-- main-card -->

    </div>      <!-- main-box -->



    <script defer>
        // query params
        history.replaceState(null, document.querySelector("title").innerText, window.location.pathname)

        // 'show password' reaction
        document.querySelector('#showPasswords').addEventListener('change', (e) => {
            document.querySelector('input[name="currentPassword"]').type = e.target.checked ? 'text' : 'password'
            document.querySelector('input[name="newPassword"]').type = e.target.checked ? 'text' : 'password'
        })
    </script>

</body>
</html>