<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>BoltCDL | Search Results</title>

    <link rel="shortcut icon" href="/static/img/logo-transp.png">
    <link rel="stylesheet" href="/routers/views/employerFilteredContacts.css">

</head>
<body>

    <%
        function usDate(d, dMsg) {
            return Date.parse(dMsg) ? d.toLocaleDateString('en-CA', { timeZone: 'America/Los_Angeles' }) : dMsg
        }

        const usCurrency = new Intl.NumberFormat('us-US', { style: 'currency', currency: 'USD' })
    %>
    
    <div class="main-container">

        <nav>
            <menu type="toolbar">
                <a href="/employer/home">back to profile</a>
            </menu>
    
            <% if(locals.filters) { %>
                <div class="search-box">
                    <h2 class="search-title">New search</h2>
                    <form class="search-tool" action="/employer/show-filtered-contacts" method="POST">
                        <!-- filters from filtersData.js module -->
                        <% filters.forEach(filter => { %>
                            <div class="filter-item">
                                <label for="<%= filter.id %>"><%= filter.label %></label>
                                <% if(filter.type === "select") { %>
                                    <select name="<%= filter.id %>" id="<%= filter.id %>">
                                        <% filter.list.forEach(item => { %>
                                            <option value="<%= item %>"><%= item %></option>
                                        <% }) %>
                                    </select>
                                <% } else { %>
                                    <input type="<%= filter.type %>" name="<%= filter.id %>" id="<%= filter.id %>">
                                <% } %>
                            </div>
                        <% }) %>
                        <button class="-btn" type="submit">new search</button>
                    </form>
                </div>      <!-- search-box -->
            <% } %>
        </nav>
    


        <div class="results-box">
            <!-- "extraData uploadedData" -->
            <% if(!locals.users) { %>
                <h1 class="results-title">No search results</h1>
            <% } else { %>
                <h1 class="results-title">
                    <span>Search results</span>
                    <span class="title-qty">(<%= users.length %>)</span>
                    <svg class="open-close-all" viewBox="0 0 512 512" onclick="toggleOpenCloseAll(this)">
                        <path d="M256 0C114.6 0 0 114.6 0 256c0 141.4 114.6 256 256 256s256-114.6 256-256C512 114.6 397.4 0 256 0zM358.6 278.6l-112 112c-12.5 12.5-32.75 12.5-45.25 0s-12.5-32.75 0-45.25L290.8 256L201.4 166.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l112 112C364.9 239.6 368 247.8 368 256S364.9 272.4 358.6 278.6z" />
                    </svg>
                </h1>
                <p class="search-hint">We created a scoring system to sort students' list in order of their progress achieved. <span class="-important">Check students' detailed info before adding their profiles to your cart.</span></p>
                <div class="search-results-box">
                    <% users.forEach((user, index) => { %>
                        <div class="result-item" data-id="<%= user._id %>">

                            <h3 class="item-header">
                                <% if(locals.employer.contacts) { %>
                                    <% if(employer.contacts.includes(user._id)) { %>
                                        <span class="result-add -hidden" data-id="<%= user._id %>" onclick="addStudentToCart(this)">
                                            <svg viewBox="0 0 512 512">
                                                <path d="M0 256C0 114.6 114.6 0 256 0C397.4 0 512 114.6 512 256C512 397.4 397.4 512 256 512C114.6 512 0 397.4 0 256zM256 368C269.3 368 280 357.3 280 344V280H344C357.3 280 368 269.3 368 256C368 242.7 357.3 232 344 232H280V168C280 154.7 269.3 144 256 144C242.7 144 232 154.7 232 168V232H168C154.7 232 144 242.7 144 256C144 269.3 154.7 280 168 280H232V344C232 357.3 242.7 368 256 368z" />
                                            </svg>
                                        </span>
                                        <span class="result-my-contact" title="you have this contact">
                                            <svg viewBox="0 0 576 512">
                                                <path d="M512 32H64C28.65 32 0 60.65 0 96v320c0 35.35 28.65 64 64 64h448c35.35 0 64-28.65 64-64V96C576 60.65 547.3 32 512 32zM176 128c35.35 0 64 28.65 64 64s-28.65 64-64 64s-64-28.65-64-64S140.7 128 176 128zM272 384h-192C71.16 384 64 376.8 64 368C64 323.8 99.82 288 144 288h64c44.18 0 80 35.82 80 80C288 376.8 280.8 384 272 384zM496 320h-128C359.2 320 352 312.8 352 304S359.2 288 368 288h128C504.8 288 512 295.2 512 304S504.8 320 496 320zM496 256h-128C359.2 256 352 248.8 352 240S359.2 224 368 224h128C504.8 224 512 231.2 512 240S504.8 256 496 256zM496 192h-128C359.2 192 352 184.8 352 176S359.2 160 368 160h128C504.8 160 512 167.2 512 176S504.8 192 496 192z" />
                                            </svg>
                                        </span>
                                    <% } else { %>
                                        <span class="result-add" data-id="<%= user._id %>" onclick="addStudentToCart(this)">
                                            <svg viewBox="0 0 512 512">
                                                <path d="M0 256C0 114.6 114.6 0 256 0C397.4 0 512 114.6 512 256C512 397.4 397.4 512 256 512C114.6 512 0 397.4 0 256zM256 368C269.3 368 280 357.3 280 344V280H344C357.3 280 368 269.3 368 256C368 242.7 357.3 232 344 232H280V168C280 154.7 269.3 144 256 144C242.7 144 232 154.7 232 168V232H168C154.7 232 144 242.7 144 256C144 269.3 154.7 280 168 280H232V344C232 357.3 242.7 368 256 368z" />
                                            </svg>
                                        </span>
                                        <span class="result-added -hidden" title="already added to the cart">*</span>
                                    <% } %>
                                <% } else { %>
                                    <span class="result-add" data-id="<%= user._id %>" onclick="addStudentToCart(this)">
                                        <svg viewBox="0 0 512 512">
                                            <path d="M0 256C0 114.6 114.6 0 256 0C397.4 0 512 114.6 512 256C512 397.4 397.4 512 256 512C114.6 512 0 397.4 0 256zM256 368C269.3 368 280 357.3 280 344V280H344C357.3 280 368 269.3 368 256C368 242.7 357.3 232 344 232H280V168C280 154.7 269.3 144 256 144C242.7 144 232 154.7 232 168V232H168C154.7 232 144 242.7 144 256C144 269.3 154.7 280 168 280H232V344C232 357.3 242.7 368 256 368z" />
                                        </svg>
                                    </span>
                                    <span class="result-added -hidden" title="already added to the cart">*</span>
                                <% } %>                        
        
                                <span class="result-index"><%= index + 1 %>.</span>
                                <span class="result-firstname"><%= user.uploadedData.schoolFirstname %></span>
                                <span class="result-lastname"><%= user.uploadedData.schoolLastname %></span>

                                <span class="result-extraData-brief">
                                    <!-- gender ico -->
                                    <% if(user.extraData.gender.toUpperCase() === "MALE") { %>
                                        <svg class="extraData-gender -male" viewBox="0 0 320 512">
                                            <path d="M208 48C208 74.51 186.5 96 160 96C133.5 96 112 74.51 112 48C112 21.49 133.5 0 160 0C186.5 0 208 21.49 208 48zM152 352V480C152 497.7 137.7 512 120 512C102.3 512 88 497.7 88 480V256.9L59.43 304.5C50.33 319.6 30.67 324.5 15.52 315.4C.3696 306.3-4.531 286.7 4.573 271.5L62.85 174.6C80.2 145.7 111.4 128 145.1 128H174.9C208.6 128 239.8 145.7 257.2 174.6L315.4 271.5C324.5 286.7 319.6 306.3 304.5 315.4C289.3 324.5 269.7 319.6 260.6 304.5L232 256.9V480C232 497.7 217.7 512 200 512C182.3 512 168 497.7 168 480V352L152 352z" />
                                        </svg>
                                    <% } else { %>
                                        <% if(user.extraData.gender.toUpperCase() === "FEMALE") { %>
                                            <svg class="extraData-gender -female" viewBox="0 0 320 512">
                                                <path d="M112 48C112 21.49 133.5 0 160 0C186.5 0 208 21.49 208 48C208 74.51 186.5 96 160 96C133.5 96 112 74.51 112 48zM88 384H70.2C59.28 384 51.57 373.3 55.02 362.9L93.28 248.1L59.43 304.5C50.33 319.6 30.67 324.5 15.52 315.4C.3696 306.3-4.531 286.7 4.573 271.5L58.18 182.3C78.43 148.6 114.9 128 154.2 128H165.8C205.1 128 241.6 148.6 261.8 182.3L315.4 271.5C324.5 286.7 319.6 306.3 304.5 315.4C289.3 324.5 269.7 319.6 260.6 304.5L226.7 248.1L264.1 362.9C268.4 373.3 260.7 384 249.8 384H232V480C232 497.7 217.7 512 200 512C182.3 512 168 497.7 168 480V384H152V480C152 497.7 137.7 512 120 512C102.3 512 88 497.7 88 480L88 384z" />
                                            </svg>
                                        <% } else { %>
                                            <svg class="extraData-gender -unknown" viewBox="0 0 448 512">
                                                <path d="M176 448C167.3 448 160 455.3 160 464V512h32v-48C192 455.3 184.8 448 176 448zM272 448c-8.75 0-16 7.25-16 16s7.25 16 16 16s16-7.25 16-16S280.8 448 272 448zM164 172l8.205 24.62c1.215 3.645 6.375 3.645 7.59 0L188 172l24.62-8.203c3.646-1.219 3.646-6.375 0-7.594L188 148L179.8 123.4c-1.215-3.648-6.375-3.648-7.59 0L164 148L139.4 156.2c-3.646 1.219-3.646 6.375 0 7.594L164 172zM336.1 315.4C304 338.6 265.1 352 224 352s-80.03-13.43-112.1-36.59C46.55 340.2 0 403.3 0 477.3C0 496.5 15.52 512 34.66 512H128v-64c0-17.75 14.25-32 32-32h128c17.75 0 32 14.25 32 32v64h93.34C432.5 512 448 496.5 448 477.3C448 403.3 401.5 340.2 336.1 315.4zM64 224h13.5C102.3 280.5 158.4 320 224 320s121.8-39.5 146.5-96H384c8.75 0 16-7.25 16-16v-96C400 103.3 392.8 96 384 96h-13.5C345.8 39.5 289.6 0 224 0S102.3 39.5 77.5 96H64C55.25 96 48 103.3 48 112v96C48 216.8 55.25 224 64 224zM104 136C104 113.9 125.5 96 152 96h144c26.5 0 48 17.88 48 40V160c0 53-43 96-96 96h-48c-53 0-96-43-96-96V136z" />
                                            </svg>
                                        <% } %>
                                    <% } %>
                                    <!-- star ico -->
                                    <div class="score-box">
                                        <svg class="extraData-score" viewBox="0 0 576 512">
                                            <path d="M381.2 150.3L524.9 171.5C536.8 173.2 546.8 181.6 550.6 193.1C554.4 204.7 551.3 217.3 542.7 225.9L438.5 328.1L463.1 474.7C465.1 486.7 460.2 498.9 450.2 506C440.3 513.1 427.2 514 416.5 508.3L288.1 439.8L159.8 508.3C149 514 135.9 513.1 126 506C116.1 498.9 111.1 486.7 113.2 474.7L137.8 328.1L33.58 225.9C24.97 217.3 21.91 204.7 25.69 193.1C29.46 181.6 39.43 173.2 51.42 171.5L195 150.3L259.4 17.97C264.7 6.954 275.9-.0391 288.1-.0391C300.4-.0391 311.6 6.954 316.9 17.97L381.2 150.3z" />
                                        </svg>
                                        <span class="student-score" title="our scoring rate"><%= user.score %></span>
                                    </div>  <!-- score-box -->
                                    <!-- downloaded ico -->
                                    <div class="downloaded-box">
                                        <svg class="downloaded" viewBox="0 0 512 512">
                                            <path d="M480 352h-133.5l-45.25 45.25C289.2 409.3 273.1 416 256 416s-33.16-6.656-45.25-18.75L165.5 352H32c-17.67 0-32 14.33-32 32v96c0 17.67 14.33 32 32 32h448c17.67 0 32-14.33 32-32v-96C512 366.3 497.7 352 480 352zM432 456c-13.2 0-24-10.8-24-24c0-13.2 10.8-24 24-24s24 10.8 24 24C456 445.2 445.2 456 432 456zM233.4 374.6C239.6 380.9 247.8 384 256 384s16.38-3.125 22.62-9.375l128-128c12.49-12.5 12.49-32.75 0-45.25c-12.5-12.5-32.76-12.5-45.25 0L288 274.8V32c0-17.67-14.33-32-32-32C238.3 0 224 14.33 224 32v242.8L150.6 201.4c-12.49-12.5-32.75-12.5-45.25 0c-12.49 12.5-12.49 32.75 0 45.25L233.4 374.6z" />
                                        </svg>
                                        <span class="student-score" title="profile downloads"><%= user.loadedQty %></span>
                                    </div>  <!-- downloaded-box -->
                                </span>     <!-- result-extraData-brief -->

                                <br class="-header-next-line">
                                <span class="result-cdlschool"><%= user.cdlschool %></span>

                                <svg class="open-close" viewBox="0 0 512 512" onclick="toggleOpenClose(this)">
                                    <path d="M256 0C114.6 0 0 114.6 0 256c0 141.4 114.6 256 256 256s256-114.6 256-256C512 114.6 397.4 0 256 0zM358.6 278.6l-112 112c-12.5 12.5-32.75 12.5-45.25 0s-12.5-32.75 0-45.25L290.8 256L201.4 166.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l112 112C364.9 239.6 368 247.8 368 256S364.9 272.4 358.6 278.6z" />
                                </svg>
                            </h3>   <!-- item-header -->

                            
                            <details class="result-extraData">
                                <summary>work preferences</summary>
                                <section class="result-extraData-box">
                                    <div class="endorsements">
                                        <span class="item-title">Endorsements:</span>
                                        <span class="item-value"><%= user.extraData.endorsements %></span>
                                    </div>
                                    <div class="worktype">
                                        <span class="item-title">Work Type:</span>
                                        <span class="item-value"><%= user.extraData.worktype %></span>
                                    </div>
                                    <div class="teamwork">
                                        <span class="item-title">Team Work:</span>
                                        <span class="item-value"><%= user.extraData.teamwork %></span>
                                    </div>
                                    <div class="distancework">
                                        <span class="item-title">Distance Work:</span>
                                        <span class="item-value"><%= user.extraData.distancework %></span>
                                    </div>
                                    <div class="truckbrand">
                                        <span class="item-title">Truck Brand:</span>
                                        <span class="item-value"><%= user.extraData.truckbrand %></span>
                                    </div>
                                    <div class="yearslist">
                                        <span class="item-title">Years List:</span>
                                        <span class="item-value"><%= user.extraData.yearslist %></span>
                                    </div>
                                    <div class="trailertype">
                                        <span class="item-title">Trailer Type:</span>
                                        <span class="item-value"><%= user.extraData.trailertype %></span>
                                    </div>
                                    <div class="paytype">
                                        <span class="item-title">Pay Type:</span>
                                        <span class="item-value"><%= user.extraData.paytype %></span>
                                    </div>
                                </section>  <!-- result-extraData-box -->
                            </details>

                            
                            <div class="item-row">
                                <details class="result-uploadedData">
                                    <summary>school data</summary>
                                    <div class="schoolClass">
                                        <span class="item-title">CDL Class:</span>
                                        <span class="item-value"><%= user.uploadedData.schoolClass %></span>
                                    </div>
                                    <div class="schoolTransmission">
                                        <span class="item-title">Transmission:</span>
                                        <span class="item-value"><%= user.uploadedData.schoolTransmission %></span>
                                    </div>
                                    <div class="schoolTuitionStarted">
                                        <span class="item-title">Tuition Started:</span>
                                        <span class="item-value"><%= usDate(user.uploadedData.schoolTuitionStarted, user.uploadedData.schoolTuitionStartDate) %></span>
                                    </div>
                                    <div class="schoolTuitionEnded">
                                        <span class="item-title">Tuition Ended:</span>
                                        <span class="item-value"><%= usDate(user.uploadedData.schoolTuitionEnded, user.uploadedData.schoolTuitionEndDate) %></span>
                                    </div>
                                    <div class="schoolStatus">
                                        <span class="item-title">School Status:</span>
                                        <span class="item-value"><%= user.uploadedData.schoolStatus %></span>
                                    </div>
                                    <div class="schoolPassFail">
                                        <span class="item-title">Fail/Pass:</span>
                                        <span class="item-value" data-passfail="<%= user.uploadedData.schoolPassFail.toUpperCase() %>"><%= user.uploadedData.schoolPassFail %></span>
                                    </div>
                                    <div class="schoolIfDeclined">
                                        <span class="item-title">If Declined:</span>
                                        <span class="item-value"><%= user.uploadedData.schoolIfDeclined %></span>
                                    </div>
                                </details>

                                <details class="result-scorings">
                                    <summary>scoring result</summary>
                                    <div class="schoolInCab">
                                        <span class="item-title">In-Cab test:</span>
                                        <span class="item-value" data-passfail="<%= user.uploadedData.schoolInCab.toUpperCase() %>"><%= user.uploadedData.schoolInCab %></span>
                                    </div>
                                    <div class="schoolOutCab">
                                        <span class="item-title">Out-Cab test:</span>
                                        <span class="item-value" data-passfail="<%= user.uploadedData.schoolOutCab.toUpperCase() %>"><%= user.uploadedData.schoolOutCab %></span>
                                    </div>
                                    <div class="schoolStraightLineBacking">
                                        <span class="item-title">Straight Line Backing:</span>
                                        <span class="item-value" data-passfail="<%= user.uploadedData.schoolStraightLineBacking.toUpperCase() %>"><%= user.uploadedData.schoolStraightLineBacking %></span>
                                    </div>
                                    <div class="schoolOffsetAndAlleyBacking">
                                        <span class="item-title">Offset/Alley Backing:</span>
                                        <span class="item-value" data-passfail="<%= user.uploadedData.schoolOffsetAndAlleyBacking.toUpperCase() %>"><%= user.uploadedData.schoolOffsetAndAlleyBacking %></span>
                                    </div>
                                    <div class="schoolCityDriving">
                                        <span class="item-title">City Driving:</span>
                                        <span class="item-value" data-passfail="<%= user.uploadedData.schoolCityDriving.toUpperCase() %>"><%= user.uploadedData.schoolCityDriving %></span>
                                    </div>
                                </details>
                            </div>  <!-- item-row -->

                        </div>
                    <% }) %>
                </div>
            <% } %>
        </div>      <!-- results-box -->
    

        <footer class="cart-box">
            <h2 class="cart-header">
                <span class="cart-title">Cart:</span>
                <span class="cart-sum"><%= usCurrency.format(0) %></span>
            </h2>
            <form class="cart" action="/employer/checkout-contacts" method="post">
                <div class="cart-item -hidden">
                    <input type="hidden" name="cartStudentId" />
                    <span class="cart-delete" onclick="delStudentFromCart(this)" title="delete from cart">
                        <svg viewBox="0 0 512 512">
                            <path d="M0 256C0 114.6 114.6 0 256 0C397.4 0 512 114.6 512 256C512 397.4 397.4 512 256 512C114.6 512 0 397.4 0 256zM168 232C154.7 232 144 242.7 144 256C144 269.3 154.7 280 168 280H344C357.3 280 368 269.3 368 256C368 242.7 357.3 232 344 232H168z" />
                        </svg>
                    </span>
                    <span class="cartStudentFirstName"></span>
                    <span class="cartStudentLastName"></span>
                    <span class="cartStudentSchool"></span>
                    <% let price = (locals.profilePrice / 100) || 0 %>
                    <span class="cartProfilePrice" data-cost="<%= price %>"><%= usCurrency.format(price) %></span>
                </div>      <!-- cart-item -->
                <div class="button-box">
                    <button class="cart-button -btn -hidden" type="submit">checkout</button>
                </div>
            </form>     <!-- cart -->
        </footer>      <!-- cart-box -->

    </div>      <!-- main-container -->


    <script>

        const usCurrencyFormat = new Intl.NumberFormat('us-US', { style: 'currency', currency: 'USD' })

        // shows "Buy" button, when cart has items
        function showHideCartButton(cart) {
            const btn = cart.querySelector(".cart-button")
            const cartSum = document.querySelector(".cart-sum")
            let sum = 0
            if (cart.childElementCount > 2) {
                btn.classList.remove("-hidden")
                
                const itemsCost = cart.querySelectorAll(".cartProfilePrice")
                if (itemsCost) {
                    itemsCost.forEach ((itemCost, index) => {
                        if ((index + 1) < itemsCost.length) {
                            sum += parseFloat(itemCost.dataset.cost)
                        }
                    })
                }
            } else {
                btn.classList.add("-hidden")
            }
            if (cartSum) {
                cartSum.textContent = usCurrencyFormat.format(sum)
            }
        }


        // adds a student to a cart on click
        function addStudentToCart(studentSpan) {
            if (!studentSpan) { return }

            const cart = document.querySelector(".cart")

            const student = studentSpan.parentElement

            const add = student.querySelector(".result-add")
            const added = student.querySelector(".result-added")

            const firstname = student.querySelector(".result-firstname")
            const lastname = student.querySelector(".result-lastname")
            const cdlschool = student.querySelector(".result-cdlschool")

            if (confirm(`Would you like to add ${firstname.textContent} ${lastname.textContent} to the cart?`)) {
                const cartItem = cart.querySelector(".cart-item.-hidden")
                if (cartItem) {
                    const newCartItem = cartItem.cloneNode(true)
                    newCartItem.querySelector("[name='cartStudentId']").value = studentSpan.dataset.id
                    newCartItem.querySelector(".cartStudentFirstName").textContent = firstname.textContent
                    newCartItem.querySelector(".cartStudentLastName").textContent = lastname.textContent
                    newCartItem.querySelector(".cartStudentSchool").textContent = cdlschool.textContent
                    newCartItem.classList.remove("-hidden")
                    cart.insertBefore(newCartItem, cartItem)
                }

                student.classList.add("-in-cart")
                student.querySelector(".result-add").classList.add("-hidden")
                student.querySelector(".result-added").classList.remove("-hidden")

                showHideCartButton(cart)

                const resultItem = studentSpan.parentElement.parentElement
                if (resultItem) {
                    resultItem.classList.add("-just-added")
                }
            }
        }


        // delets a student from the cart
        function delStudentFromCart(cartItemButton) {
            if (!cartItemButton) { return }
            const id = cartItemButton.previousElementSibling.value

            const items = document.querySelectorAll(".result-item")
            for (let i=0; i < items.length; i++) {
                if (items[i].dataset.id === id) {
                    // activate in main table
                    items[i].querySelector(".result-add").classList.remove("-hidden")
                    items[i].querySelector(".result-added").classList.add("-hidden")
                    items[i].classList.remove("-just-added")
                    items[i].classList.remove("-in-cart")
                    // delete from cart
                    const cartItem = cartItemButton.parentElement
                    cartItem.remove()

                    showHideCartButton(document.querySelector(".cart"))
                    
                    break
                }
            }
        }


        function toggleOpenClose(toggleBtn) {
            const item = toggleBtn.parentElement.parentElement
            if (!item) { return }

            const detailsDivs = item.querySelectorAll("details")
            if (!detailsDivs) { return }

            toggleBtn.classList.toggle("-rotate90")
            const open = toggleBtn.classList.contains("-rotate90")

            detailsDivs.forEach(detailsDiv => {
                detailsDiv.open = open
            })
        }


        function toggleOpenCloseAll(toggleBtn) {
            const detailsDivs = document.querySelectorAll("details")
            const openCloseBtns = document.querySelectorAll(".open-close")
            if (!detailsDivs || !openCloseBtns) { return }

            toggleBtn.classList.toggle("-rotate90")
            const open = toggleBtn.classList.contains("-rotate90")

            openCloseBtns.forEach(openCloseBtn => {
                if (open) {
                    openCloseBtn.classList.add("-rotate90")
                } else {
                    openCloseBtn.classList.remove("-rotate90")
                }
            })

            detailsDivs.forEach(detailsDiv => {
                detailsDiv.open = open
            })
        }

    </script>

</body>
</html>