@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800;900&display=swap');

:root {
	--primary-color: #2d2254;
    
    --primary-grad1: var(--primary-color);
    --primary-grad2: #0e0a1a;

	--secondary-color: #f5c42f;
	--text-color: #c5bbec;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body {
    width: 100%;
    min-height: 100vh;

	font-family: 'Montserrat', sans-serif;
	font-size: 15px;

	background: var(--primary-grad1);
    color: #fff;
}

/* Hide Scrollbars But Keep Functionality */
html, body {
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
html::-webkit-scrollbar, body::-webkit-scrollbar {
    /* Hide scrollbar for Chrome, Safari and Opera */
    display: none;
}

/* log out form */
.logout-form {
    position: absolute;
    top: 1rem;
    right: 1rem;
}
.logout-form button {
    width: 2rem;
    height: 2rem;

    display: flex;
    outline: none;
    border: none;

    background-color: transparent;
}
.logout-form svg {
    width: 100%;
    height: 100%;

    fill: var(--text-color);

    cursor: pointer;

    transition: all 0.2s linear;
}
.logout-form svg:hover {
    transform: translateY(-2px);
    opacity: 0.9;
}

/* main-box & main-card */
.-container {
    padding: 10px;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

.main-box {
    width: 90%;
    max-width: 1500px;
    margin: 5vh auto;

    min-height: 100vh;

    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
}

.main-card {
    margin: 0 0.3rem;
    width: 30%;
    max-width: 425px;
    /* min-height: 90vh; */

    padding: 1rem;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 2.5rem;

    transition: all 0.25s linear;
}
.main-card:hover {
    transform: translateY(-1px);
    opacity: 0.9;
}
.-bigger-card {
    width: 40%;
    max-width: 535px;
}

/* profile card */
.profile-title {
    font-size: 2.2rem;
    color: var(--secondary-color);
}
.update-form .inputs {
    display: inline-flex;
}
.update-form .buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.update-form .inputs input {
    width: 50%;
    height: 1.7em;

    font-family: 'Montserrat', sans-serif;
    font-size: 1.15rem;

    outline: none;

    margin-bottom: 5px;
}
.-btn {
    padding: 4px 10px;

    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    color: #fff;

    border: none;

    background-color: var(--primary-color);
    cursor: pointer;

    transition: all 0.2s linear;
}
.-btn:hover {
    background-color: var(--primary-grad2);
}
.-round-btn {
    width: 150px;
    height: 2.2rem;
    border-radius: 1.1rem;
}

.info-box {
    margin: 1.2rem 0;
}
.issue-msg, .info-msg {
    font-size: 1.35rem;
    color: var(--secondary-color);
    font-weight: normal;
    text-align: justify;
}
.info-msg {
    font-size: 1.35rem;
    color: var(--primary-color);
    font-weight: bolder;
    text-align: center;
}

.update-title, .card-title {
    color: var(--primary-grad2);
    margin-bottom: 0.5rem;
}
.main-card ul {
    margin-left: 1rem;
}
.main-card li {
    margin-bottom: 0.25rem;
}
.main-card a {
    margin: 1rem auto;
    
    display: block;
    text-align: center;
    color: var(--secondary-color);
}


/* search filters */
.search-info-box {
    margin: 5px 0 1rem 0;
}
.search-info, .search-text {
    display: flex;
    font-size: 0.85rem;
    text-align: center;
    color: #f36f88;
}
.search-text {
    color: #f5c42f;
}

.filter-item {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-between;
}
.filter-item label {
    margin-bottom: 0.67rem;
}
.filter-item select,
.filter-item input,
.filter-item textarea {
    padding: 2px 0;
    
    width: 50%;
    min-width: 210px;

    height: 1.8rem;

    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;

    background-color: #c5bbec26;

    border: none;
    outline: none;
}
.filter-item input {
    padding: 3px 4px;
}

.filter-item select:focus,
.filter-item input:focus,
.filter-item textarea:focus {
    background-color: #c5bbec77;
}

.filter-box {
    width: fit-content;
    margin: 1rem auto 0 auto;
}


/* Payments */
.payment-table {
    display: grid;
    grid-template-columns: 0.35fr 1fr 1fr;
    margin-bottom: 0.5rem;
}
.payment-table span {
    text-align: center;
    border: 1px solid var(--text-color);
}
.pmt-sum {
    font-size: 1.35rem;
    color: var(--primary-grad2);
    text-align: right;
}


@media (max-width: 1435px) {
    html, body {
        font-size: 13px;
    }
}
@media (max-width: 1100px) {
    html, body {
        font-size: 14px;
    }
    .main-box {
        flex-direction: column;
        align-items: center;
    }
    .main-card {
        margin: 5px 0;
        width: 100%;
        min-height: unset !important;
    }
}
@media (max-width: 535px) {
    html, body {
        font-size: 13px;
    }
    .inputs, .filter-item {
        width: 100%;
        flex-direction: column;
    }
    .inputs input {
        margin: 0 auto;
        /* width: 100%; */
        width: 90% !important;
    }
    .filter-item select,
    .filter-item input,
    .filter-item textarea {
        width: 100%;
    }
}