<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>BoltCDL | Employer Contacts</title>

    <link rel="shortcut icon" href="/static/img/logo-transp.png">
    <link rel="stylesheet" href="/routers/views/employerSavedContact.css">
</head>
<body>

    <%
        function usDate(d, dMsg) {
            return Date.parse(dMsg) ? d.toLocaleDateString('en-CA', { timeZone: 'America/Los_Angeles' }) : dMsg
        }
        function amDate(d) {
            return d.toLocaleDateString('en-CA', { timeZone: 'America/Los_Angeles' })
        }
    %>

    <section class="contact-box">
        
        <nav>
            <menu type="toolbar">
                <a href="/employer/home">back to profile</a>
            </menu>
        </nav>

        <h1 class="contact-title">Saved contacts list</h1>
        <% if(locals.employer.contacts) { %>
            <% employer.contacts.forEach((contact, index) => { %>
                <div class="contact-item">
                    <h2 class="item-title">
                        <span class="item-index"><%= index + 1 %>.</span>
                        <span class="item-fname"><%= contact.firstname %></span>
                        <span class="item-lname"><%= contact.lastname %></span>
                        <span class="item-score">(<%= contact.score %>)</span>
                        <span class="general-data">
                            <svg class="item-svg" viewBox="0 0 512 512">
                                <path d="M464 64C490.5 64 512 85.49 512 112C512 127.1 504.9 141.3 492.8 150.4L275.2 313.6C263.8 322.1 248.2 322.1 236.8 313.6L19.2 150.4C7.113 141.3 0 127.1 0 112C0 85.49 21.49 64 48 64H464zM217.6 339.2C240.4 356.3 271.6 356.3 294.4 339.2L512 176V384C512 419.3 483.3 448 448 448H64C28.65 448 0 419.3 0 384V176L217.6 339.2z"/>
                            </svg>
                            <a class="item-contact" href="mailto:<%= contact.email %>"><%= contact.email %></a>
                            <br class="next-row">
                            <svg class="item-svg" viewBox="0 0 384 512">
                                <path d="M304 0h-224c-35.35 0-64 28.65-64 64v384c0 35.35 28.65 64 64 64h224c35.35 0 64-28.65 64-64V64C368 28.65 339.3 0 304 0zM192 480c-17.75 0-32-14.25-32-32s14.25-32 32-32s32 14.25 32 32S209.8 480 192 480zM304 64v320h-224V64H304z"/>
                            </svg>
                            <a class="item-contact" href="tel:<%= contact.phone %>"><%= contact.phone %></a>
                        </span>
                    </h2>

                    <div class="admin-data">
                        <span class="item-lastSESS">
                            <span class="title">last session</span>
                            <span class="value"><%= amDate(contact.lastSESS) %></span>
                        </span>
                        <span class="item-userBlock -block-<%= contact.userBlock %>">
                            <span class="title">user block</span>
                            <span class="value"><%= contact.userBlock %></span>
                        </span>
                        <span class="item-adminBlock -block-<%= contact.adminBlock %>">
                            <span class="title">admin block</span>
                            <span class="value"><%= contact.adminBlock %></span>
                        </span>
                    </div>  <!-- admin-data -->

                    <% if(contact.userBlock || contact.adminBlock) { %>
                        <small class="block-info">* "block" status means that student don't want to be available for the new employers; admin can block student for app rules ignoring</small>
                    <% } %>


                    <div class="school-data" data-item="item-<%= index %>">

                        <div class="data-open-close-box">
                            <div class="data-open-close">
                                <svg viewBox="0 0 512 512"  data-item="<%= index %>" onclick="toogleOpenClose(this)">
                                    <path d="M256 0C114.6 0 0 114.6 0 256c0 141.4 114.6 256 256 256s256-114.6 256-256C512 114.6 397.4 0 256 0zM358.6 278.6l-112 112c-12.5 12.5-32.75 12.5-45.25 0s-12.5-32.75 0-45.25L290.8 256L201.4 166.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l112 112C364.9 239.6 368 247.8 368 256S364.9 272.4 358.6 278.6z"/>
                                </svg>
                            </div>
                            <h4 class="school-title"><%= contact.cdlschool %></h4>
                        </div>

                        <% if(contact.uploadedFlag) { %>
                            <details class="data-section" open>
                                <summary>general data</summary>
                                <div class="data-item">
                                    <span class="title">uploaded at</span>
                                    <span class="value"><%= amDate(contact.uploadedAt) %></span>
                                </div>
                                <div class="data-item">
                                    <span class="item-schoolFirstname"><%= contact.uploadedData.schoolFirstname %></span>
                                    <span class="item-schoolLastname"><%= contact.uploadedData.schoolLastname %></span>
                                    <a href="tel:<%= contact.uploadedData.schoolPhone %>" class="item-schoolPhone"><%= contact.uploadedData.schoolPhone %></a>
                                </div>
                                <div class="data-item">
                                    <span class="item-schoolClass"><%= contact.uploadedData.schoolClass %></span>
                                    <span class="item-schoolTransmission">(<%= contact.uploadedData.schoolTransmission %>)</span>
                                </div>
                            </details>

                            <div class="item-row">
                                <details class="data-section">
                                    <summary>status info</summary>
                                    <div class="data-item">
                                        <span class="title">tuition start date</span>
                                        <span class="value"><%= usDate(contact.uploadedData.schoolTuitionStarted, contact.uploadedData.schoolTuitionStartDate) %></span>
                                    </div>
                                    <div class="data-item">
                                        <span class="title">tuition end date</span>
                                        <% if(contact.uploadedData.schoolStatus === "Still enrolled in the program") { %>
                                            <span class="value">Not graduated yet</span>
                                        <% } else { %>
                                            <span class="value"><%= usDate(contact.uploadedData.schoolTuitionEnded, contact.uploadedData.schoolTuitionEndDate) %></span>
                                        <% } %>
                                    </div>
                                    <div class="data-item -schoolStatus">
                                        <span class="title">tuition status</span>
                                        <span class="value"><%= contact.uploadedData.schoolStatus %></span>
                                    </div>
                                    <div class="data-item -schoolPassFail">
                                        <span class="title">pass/fail</span>
                                        <span class="value -schoolPassFail-<%= contact.uploadedData.schoolPassFail %>"><%= contact.uploadedData.schoolPassFail %></span>
                                    </div>
                                    <div class="data-item -schoolIfDeclined">
                                        <span class="title">if declined</span>
                                        <span class="value"><%= contact.uploadedData.schoolIfDeclined %></span>
                                    </div>
                                </details>
                                <details class="data-section">
                                    <summary>scorings info</summary>
                                    <div class="data-item -schoolInCab">
                                        <span class="title">in-cab test</span>
                                        <span class="value" data-test="<%= contact.uploadedData.schoolInCab %>"><%= contact.uploadedData.schoolInCab %></span>
                                    </div>
                                    <div class="data-item -schoolOutCab">
                                        <span class="title">out-cab test</span>
                                        <span class="value" data-test="<%= contact.uploadedData.schoolOutCab %>"><%= contact.uploadedData.schoolOutCab %></span>
                                    </div>
                                    <div class="data-item -schoolStraightLineBacking">
                                        <span class="title">straight line backing</span>
                                        <span class="value" data-test="<%= contact.uploadedData.schoolStraightLineBacking %>"><%= contact.uploadedData.schoolStraightLineBacking %></span>
                                    </div>
                                    <div class="data-item -schoolOffsetAndAlleyBacking">
                                        <span class="title">offset/alley backing</span>
                                        <span class="value" data-test="<%= contact.uploadedData.schoolOffsetAndAlleyBacking %>"><%= contact.uploadedData.schoolOffsetAndAlleyBacking %></span>
                                    </div>
                                    <div class="data-item -schoolCityDriving">
                                        <span class="title">city driving test</span>
                                        <span class="value" data-test="<%= contact.uploadedData.schoolCityDriving %>"><%= contact.uploadedData.schoolCityDriving %></span>
                                    </div>
                                </details>
                            </div>  <!-- item-row -->
                        <% } else { %>
                            <p class="not-uploaded">school data not uploaded</p>
                        <% } %>
                    </div>  <!-- school-data -->

                    <div class="extra-data" data-item="item-<%= index %>">
                        <% if(contact.extraFlag) { %>
                            <div class="item-row">
                                <details class="data-section">
                                    <summary>work preferences (general)</summary>
                                    <ul>
                                        <li class="item-extraAddedAt">
                                            <span class="title">added</span>
                                            <span class="value"><%= amDate(contact.extraAddedAt) %></span>
                                        </li>
                                        <li class="item-gender">
                                            <span class="title">gender</span>
                                            <span class="value"><%= contact.extraData.gender %></span>
                                        </li>
                                        <li class="item-endorsements">
                                            <span class="title">endorsements</span>
                                            <span class="value"><%= contact.extraData.endorsements %></span>
                                        </li>
                                        <li class="item-worktype">
                                            <span class="title">work type</span>
                                            <span class="value"><%= contact.extraData.worktype %></span>
                                        </li>
                                        <li class="item-teamwork">
                                            <span class="title">team work</span>
                                            <span class="value"><%= contact.extraData.teamwork %></span>
                                        </li>
                                        <li class="item-distancework">
                                            <span class="title">distance work</span>
                                            <span class="value"><%= contact.extraData.distancework %></span>
                                        </li>
                                    </ul>
                                </details>
                                <details class="data-section">
                                    <summary>work preferences (truck & trailer)</summary>
                                    <ul>
                                        <li class="item-truckbrand">
                                            <span class="title">truck brand</span>
                                            <span class="value"><%= contact.extraData.truckbrand %></span>
                                        </li>
                                        <li class="item-yearslist">
                                            <span class="title">years list</span>
                                            <span class="value"><%= contact.extraData.yearslist %></span>
                                        </li>
                                        <li class="item-trailertype">
                                            <span class="title">trailer type</span>
                                            <span class="value"><%= contact.extraData.trailertype %></span>
                                        </li>
                                        <li class="item-paytype">
                                            <span class="title">pay type</span>
                                            <span class="value"><%= contact.extraData.paytype %></span>
                                        </li>
                                    </ul>
                                </details>
                            </div>  <!-- item-row -->
                        <% } else { %>
                            <p class="no-extra-data">extra data not uploaded</p>
                        <% } %>
                    </div>  <!-- extra-data -->
                </div>  <!-- contact-item -->
            <% }) %>
        <% } else { %>
            <p class="no-contacts">list is empty</p>
        <% } %>
    </section>


    <footer>
        <span>displayed</span>
        <strong><%= locals.employer.contacts.length %></strong>
        <span>contact(s)</span>
    </footer>


    <script defer>

        function toogleOpenClose(openCloseSVG) {
            openCloseSVG.classList.toggle("-make-open")
            const openOrClosed = openCloseSVG.classList.contains("-make-open")

            const items = document.querySelectorAll(`[data-item='item-${openCloseSVG.dataset.item}']`)
            if (!items) { return }
            items.forEach(item => {
                let sections = item.querySelectorAll(".data-section")
                if (sections) {
                    sections.forEach(section => {
                        section.open = openOrClosed
                    })
                }
            })
        }

    </script>

</body>
</html>