@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800;900&display=swap');

:root {
	--primary-color: #2d2254;
    
    --primary-grad1: var(--primary-color);
    --primary-grad2: #0e0a1a;

	--secondary-color: #f5c42f;
	--text-color: #c5bbec;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body {
    width: 100%;

	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
}

/* Hide Scrollbars But Keep Functionality */
html, body {
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
html::-webkit-scrollbar, body::-webkit-scrollbar {
    /* Hide scrollbar for Chrome, Safari and Opera */
    display: none;
}

.main-container {
    width: 95%;
    margin: 0 auto;
}
.results-box {
    margin-bottom: 8rem;
}

.results-title {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.title-qty {
    color: #f5c42f;
}

.search-hint {
    font-size: 0.85rem;
    font-weight: 500;
    font-style: italic;
    color: #c68b41;
}
.-important {
    font-weight: 700;
}

nav menu {
    padding: 0.35rem 1rem;
    text-align: left;
    background-color: var(--primary-color);
}
nav menu a {
    font-size: 0.93rem;
    color: #fff;
}

.search-box {
    --col1: var(--primary-color);
    --col2: var(--text-color);

    padding: 0.5rem 1rem;
    width: 100%;

    display: flex;
    align-items: flex-start;
    
    background-color: var(--col1);
    background: linear-gradient(180deg, var(--col1), var(--col2));
    background: -o-linear-gradient(180deg, var(--col1), var(--col2));
    background: -moz-linear-gradient(180deg, var(--col1), var(--col2));
    background: -webkit-linear-gradient(270deg, var(--col1), var(--col2));
}
.search-title {
    width: 12%;
    color: var(--text-color);
}
.search-tool {
    width: 88%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.filter-item {
    padding: 0 2px;
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}
.filter-item * {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.87rem;
    margin-bottom: 2px;
}
.filter-item label {
    font-weight: 700;
    color: var(--primary-grad2);
}
.filter-item select,
.filter-item input {
    min-width: 200px;
    height: 1.3rem;
    
    outline: none;
    border: none;
    
    background-color: #c5bbec3b;
    border-bottom: 1px solid var(--text-color);
}

.-btn {
    margin: 0 auto;
    width: 200px;

    display: block;

    border: none;
    border-radius: 1rem;

    color: var(--text-color);
    background-color: var(--primary-color);

    transition: all 0.2s linear;
    cursor: pointer;
}
.-btn:hover {
    transform: translateY(1px);
    letter-spacing: 0.6px;
    color: #f5c42f;
}


/* footer */
footer {
    padding: 0.35rem 0.5rem;
    width: 750px;

    position: fixed;
    bottom: 0;
    right: 1%;

    background-color: var(--text-color);
    border-radius: 1rem 1rem 0 0;
}
.cart-header {
    padding: 0.25rem;
    text-align: center;
    border-bottom: 1px solid #8c2254;
}

.cart-item {
    margin: 1px 2px;
    padding: 2px;

    width: 100%;

    font-size: 0.93rem;
    background-color: rgba(255, 255, 255, 0.25);
    
    display: grid;
    grid-template-columns: 0.15fr 1fr 1fr 2fr 0.65fr;

    border-radius: 1rem;
}
.cart-item * {
    text-align: center;
}
.cart-delete {
    width: 1.5rem;
    height: 1.5rem;

    cursor: pointer;
}
.cartProfilePrice {
    font-weight: 700;
    color: var(--primary-color);
}
.button-box {
    margin: 7px 0 5px 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.cart-button {
    margin: 0;
    height: 1.45rem;
}


/* result-item */
.result-item {
    margin: 0.3rem 0;
    padding: 1rem;

    background-color: #afa5d621;
    border-radius: 2rem;
}
.-just-added {
    background-color: #6de71042;
}

.item-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.item-header {
    padding: 3px 5px;
    width: 100%;

    display: inline-flex;
    align-items: center;

    background-color: #afa5d62a;
    border-radius: 1rem;

    margin-bottom: 0.5rem;
}

.open-close,
.open-close-all {
    margin: 0 1rem;
    width: 1.35rem;
    
    cursor: pointer;
    transition: all 0.2s linear;
}
.open-close:hover {
    transform: scale(1.1);
}
.open-close-all {
    width: 1.85rem;
}


.-rotate90 {
    transform: rotate(90deg) !important;
}

.result-my-contact,
.result-add {
    width: 2.3rem;
    height: 1.5rem;

    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.result-add svg {
    width: 1.7rem;
    fill: #8dcd26;
    cursor: pointer;
    transition: all 0.2s linear;
}
.result-add svg:hover {
    transform: scale(1.1);
}
.result-my-contact svg {
    width: 1.7rem;
    fill: #483da7;
    cursor: not-allowed;
}

.result-index {
    margin-right: 5px;
}
.result-firstname {
    margin-right: 5px;
}
.result-lastname {
    text-transform: uppercase;
    color: #c68b41;
    margin-right: 5px;
}
.result-extraData-gender {
    margin-right: 5px;
}
.result-cdlschool {
    color: #c52f5c;
}

.result-uploadedData {
    border-bottom-left-radius: 1rem;
}
.result-scorings {
    border-bottom-right-radius: 1rem;
}

details {
    margin: 2px;
    padding: 0.35rem 0.5rem;
    background-color: #eae6f463;
}
details div {
    margin-left: 0.75rem;
}
.item-value {
    font-weight: 700;
}

[data-passfail="FAILED"] {
    color: #cb1c50;
}
[data-passfail="PASSED"] {
    color: #7fc116;
}

summary {
    width: fit-content;
    font-size: 0.93rem;
    font-weight: 700;
    
    text-transform: capitalize;
    color: #df5d5dd9;

    cursor: pointer;
    transition: all 0.2s linear;
}
summary:hover {
    padding: 0 5px;

    letter-spacing: 0.6px;
    background-color: #afa5d64d;

    border-radius: 1rem;
}

.result-extraData-box {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.result-extraData-brief {
    margin: 0 0.75rem 0 0.5rem;

    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.extraData-gender {
    width: 1rem;
}
.-male {
    fill: #958bbc;
}
.-female {
    fill: lightcoral;
}
.-unknown {
    fill: gray;
}

.score-box, .downloaded-box {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.extraData-score {
    width: 1.35rem;
    fill: #f5c42f;
}
.downloaded {
    width: 1.35rem;
    fill: #bcb2e3;
}
.student-score {
    font-size: 0.83rem;
    color: #2e2e2ea3;
    position: absolute;
    top:0; right: 0;
    cursor: default;
    z-index: 1;
}

.-header-next-line {
    display: none;
}


.-hidden {
    display: none;
}


@media (max-width: 1560px) {
    .search-box {
        flex-direction: column;
    }
    .search-tool {
        width: 100%;
    }
}
@media (max-width: 1375px) {
    .search-title {
        width: 100%;
    }
    .search-tool {
        grid-template-columns: repeat(2, 1fr);
    }
    .-btn {
        height: 1.5rem;
    }
}
@media (max-width: 930px) {
    .search-tool {
        grid-template-columns: 1fr;
    }
    .item-row {
        grid-template-columns: 1fr;
    }
}
@media (max-width: 750px) {
    .item-header {
        display: block;
    }
    .-header-next-line {
        display: block;
    }
    footer {
        width: 100%;
    }
}
@media (max-width: 515px) {
    .search-tool {
        grid-template-columns: 1fr;
    }
    .item-row {
        grid-template-columns: 1fr;
    }
    .result-extraData-box {
        grid-template-columns: 1fr;
    }
}
@media (max-width: 485px) {
    html, body {
        font-size: 13px;
    }
}
@media (max-width: 445px) {
    .filter-item select, .filter-item input {
        min-width: 175px;
    }
    #statusFilter {
        width: 250px;
    }
}
@media (max-width: 415px) {
    .filter-item select, .filter-item input {
        min-width: 150px;
    }
    #statusFilter {
        width: 225px;
    }
}
@media (max-width: 350px) {
    h1 {
        font-size: 1.5em;
    }
    h3 {
        font-size: 1em;
    }
}

