<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Bolt | Student Sign in</title>

    <link rel="shortcut icon" href="/static/img/logo-transp.png">
    <link rel="stylesheet" href="/routers/views/login-register.css">
</head>
<body>

    <%
        const issuesArray = {
            "wrongUserOrPassword": "Wrong Username or Password",
            "sessionTimeout": "You've been logged out. Login and try again",
            "savingIssue": "Issue during saving occurced"
        }
        const infoArray = {
            "passwEmailed": "Your password was reset and emailed to you"
        }
    %>

    <div class="main-box">
        <div class="main-inner">

            <nav>
                <menu type="toolbar">
                    <a href="/">go back</a>
                    <a href="/user/register">register</a>
                    <a href="/user/login">reload</a>
                </menu>
            </nav>


            <section class="container">
                <h1 class="title">Student Login</h1>
                <form action="/user/login" method="POST" id="signIn" class="container-box">
                    <input type="email" name="email" class="student-email" value="@" placeholder="Email" required />
                    <input type="password" name="password" class="student-password" placeholder="Password" required />
                    <button type="submit">Sign in</button>
                </form>
                <form action="/user/password-reset" method="POST" id="resetPassword" class='container-box -hidden' >
                    <p class='reset-title'>Let us know what is your login-email.<br>A new generated password will be sent to the provided one.</p>
                    <input type="email" name="email" class="student-email" value="" placeholder="Email" required />
                    <button type="submit">Send</button>
                </form>
                <div class='reset-box' onclick="toggleResetMenu(this)">reset a password</div>
            </section>  <!-- container -->


            <div class="info-box">
                <% if(locals.info) { %>
                    <h2 class="info-msg"><%= infoArray[info] %></h2>
                <% } %>
                <% if(locals.issue) { %>
                    <h2 class="issue-msg"><%= issuesArray[issue] %></h2>
                <% } %>
                <% if(locals.errors) { %>
                    <h2 class="issue-msg">Issue(s) found</h2>
                    <ul>
                        <% errors.forEach(error => { %>
                            <li>
                                <span class="error-msg"><%= error.msg %></span>
                                <span class="error-value">(<%= error.value %>)</span>
                            </li>
                        <% }) %>
                    </ul>
                <% } %>
                <% if(locals.SESS_DURATION) { %>
                    <small>maximum session duration is <span><%= Math.round(SESS_DURATION / (60*60*1000)) %></span>h</small>
                <% } %>
            </div>  <!-- info-box -->

        </div>  <!-- login-box -->
    </div>      <!-- main-box -->


    <script defer>
        
        document.querySelector('#resetPassword').addEventListener('submit', (e) => {
            if (!confirm("This will reset your current password. Are you sure?")) {
                e.preventDefault()
            }
        })

        const reset = document.querySelector('#resetPassword')
        const signin = document.querySelector('#signIn')

        function toggleResetMenu(toggler) {
            if (reset.classList.contains('-hidden')) {
                reset.classList.remove('-hidden')
                signin.classList.add('-hidden')
                toggler.textContent = 'back to login'
            } else {
                signin.classList.remove('-hidden')
                reset.classList.add('-hidden')
                toggler.textContent = 'reset a password'
            }
        }

    </script>

</body>
</html>