<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Bolt | Student Register</title>

    <link rel="shortcut icon" href="/static/img/logo-transp.png">
    <link rel="stylesheet" href="/routers/views/login-register.css">
</head>
<body>

    <div class="main-box">
        <div class="main-inner">
            <nav>
                <menu type="toolbar">
                    <a href="/">go back</a>
                    <a href="/user/login">login</a>
                    <a href="/user/register">reload</a>
                </menu>
            </nav>

            <section class="container-box">

                <h1 class="register-title">Student Register</h1>

                <div class="reg-step1-box">
                    <h2 class="register-subtitle">Please select your CDL School</h2>
                    <select class="register-cdl-school" required >
                        <option value="unspecified" selected>unspecified</option>
                        <% if(locals.CDLSchools) { %>
                            <% CDLSchools.forEach(cdlschool => { %>
                                <option value="<%= cdlschool %>"><%= cdlschool %></option>
                            <% }) %>
                        <% } %>
                    </select>

                    <svg class="next-btn" viewBox="0 0 448 512" onclick="firstStepNext()">
                        <path d="M246.6 233.4l-160-160c-12.5-12.5-32.75-12.5-45.25 0s-12.5 32.75 0 45.25L178.8 256l-137.4 137.4c-12.5 12.5-12.5 32.75 0 45.25C47.63 444.9 55.81 448 64 448s16.38-3.125 22.62-9.375l160-160C259.1 266.1 259.1 245.9 246.6 233.4zM438.6 233.4l-160-160c-12.5-12.5-32.75-12.5-45.25 0s-12.5 32.75 0 45.25L370.8 256l-137.4 137.4c-12.5 12.5-12.5 32.75 0 45.25C239.6 444.9 247.8 448 256 448s16.38-3.125 22.62-9.375l160-160C451.1 266.1 451.1 245.9 438.6 233.4z" />
                    </svg>

                </div>  <!-- reg-step1-box -->



                <div class="reg-step2-box -hidden">
                    <h2 class="register-subtitle">What's your school email?</h2>
                    
                    <small>
                        <strong>Crucially:</strong>
                        <span>please, use email you registered at CDL School with.</span>
                        <span>Otherwise, you'll be not able to upload your school data</span>
                    </small>

                    <input type="email" class="register-email" placeholder="Email" title="please, use email you registered at CDL School with" required />

                    <svg class="next-btn" id="next2-btn" viewBox="0 0 448 512" onclick="secondStepNext()">
                        <path d="M246.6 233.4l-160-160c-12.5-12.5-32.75-12.5-45.25 0s-12.5 32.75 0 45.25L178.8 256l-137.4 137.4c-12.5 12.5-12.5 32.75 0 45.25C47.63 444.9 55.81 448 64 448s16.38-3.125 22.62-9.375l160-160C259.1 266.1 259.1 245.9 246.6 233.4zM438.6 233.4l-160-160c-12.5-12.5-32.75-12.5-45.25 0s-12.5 32.75 0 45.25L370.8 256l-137.4 137.4c-12.5 12.5-12.5 32.75 0 45.25C239.6 444.9 247.8 448 256 448s16.38-3.125 22.62-9.375l160-160C451.1 266.1 451.1 245.9 438.6 233.4z" />
                    </svg>
                </div>  <!-- reg-step2-box -->



                <div class="reg-step3-box -hidden">
                    <h2 class="register-subtitle">Check uploaded data</h2>

                    <form action="/user/register" method="POST" class="container-box">
                        <input type="text" name="firstname" class="student-fn" placeholder="First Name" required />
                        <input type="text" name="lastname" class="student-ln" placeholder="Last Name" required />
  
                        <input type="email" name="email" class="student-email" placeholder="Email" title="please, use email you registered at CDL School with" required />
                        <input type="password" name="password" class="student-password" placeholder="Password" oninput="checkPassword(this)" required />
                        <small class="password-info">too short or missing password</small>
                        
                        <label class="showpassword-box" for="showpassword">
                            <input type="checkbox" id="showpassword" onclick="showPassword()">
                            <span>show password</span>
                        </label>
            
                        <input type="tel" name="phone" class="student-phone" placeholder="Phone" required />
                        <input type="text" name="cdlschool" class="student-cdl-school" placeholder="CDL School" required />

                        <textarea class="-hidden" name="uploadedData" id="uploadedData"></textarea>
            
                        <button type="submit">Register</button>
                    </form>
                </div>



            </section>      <!-- container -->

            <div class="issue-box">
                <% if(locals.errors) { %>
                    <h2 class="issue-msg">Issue(s) found</h2>
                    <ul>
                        <% errors.forEach(error => { %>
                            <li>
                                <span class="error-msg"><%= error.msg %></span>
                                <span class="error-value">(<%= error.value %>)</span>
                            </li>
                        <% }) %>
                    </ul>
                <% } else { %>
                    <h2 class="issue-msg"></h2>
                <% } %>
            </div>      <!-- issue-box -->
        </div>  <!-- main-inner -->
    </div>  <!-- main-box -->
    

    


    <script defer>

        function showPassword() {
            const password = document.querySelector(".student-password")
            if (password) {
                password.type = password.type != "text" ? "text" : "password"
            }
        }


        document.querySelector(".container-box").addEventListener("submit", (e) => {
            const schoolSelect = document.querySelector(".student-cdl-school")
            if (schoolSelect.value === "unspecified") {
                alert("This service is only for students of certain schools. Select a school from the list")
                return e.preventDefault()
            }
        })


        function firstStepNext() {
            const registerCdlSchool = document.querySelector(".register-cdl-school")
            if (registerCdlSchool.value === "unspecified") {
                alert("Please specify your CDL School for the next step")
                return
            }
            const box1 = document.querySelector(".reg-step1-box")
            const box2 = document.querySelector(".reg-step2-box")
            if (box1 && box2) {
                box1.classList.add("-move-up")
                setTimeout(() => {
                    box1.classList.remove("-move-up")
                    box1.classList.add("-hidden")
                    box2.classList.remove("-hidden")
                }, 500)
            }
        }


        async function secondStepNext() {
            const registerEmail = document.querySelector(".register-email")
            if (!registerEmail) { return }
            if (!registerEmail.value) { 
                registerEmail.focus()
                return
            }

            const ifValidEmail = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(registerEmail.value)
            if (!ifValidEmail) {
                alert(`Email "${registerEmail.value}" is not valid`)
                return
            }

            const next2Btn = document.querySelector("#next2-btn")
            if (next2Btn) { next2Btn.classList.add("-roll-wait") }

            const response = await fetch('/user/upload-school-data', {
                method: 'PUT',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({
                    school: document.querySelector(".register-cdl-school").value,
                    email: registerEmail.value,
                })
            })

            if (next2Btn) { next2Btn.classList.remove("-roll-wait") }

            const res = await response.json()
            if (response.status != 200) {
                alert(`Issue, server responded: ${res.issue}`)
                return
            }

            const fn = document.querySelector('[name="firstname"]')
            if (fn) {
                fn.value = res.uploadedData.schoolFirstname
                fn.readOnly = res.uploadedData.schoolFirstname != 'no student data'
            }

            const ln = document.querySelector('[name="lastname"]')
            if (ln) {
                ln.value = res.uploadedData.schoolLastname
                ln.readOnly = res.uploadedData.schoolLastname != 'no student data'
            }

            const email = document.querySelector('[name="email"]')
            if (email) {
                email.value = registerEmail.value
                email.readOnly = true
            }

            const password = document.querySelector('[name="password"]')
            if (password) {
                password.value = ""
            }

            const phone = document.querySelector('[name="phone"]')
            if (phone) {
                phone.value = res.uploadedData.schoolPhone
                phone.readOnly = res.uploadedData.schoolPhone != 'no Data Collection data'
            }

            const cdlschool = document.querySelector('[name="cdlschool"]')
            if (cdlschool) {
                cdlschool.value = document.querySelector(".register-cdl-school").value
                cdlschool.readOnly = true
            }

            const uploadedData = document.querySelector('[name="uploadedData"]')
            if (uploadedData) {
                uploadedData.value = JSON.stringify(res.uploadedData)
            }

            const box2 = document.querySelector(".reg-step2-box")
            const box3 = document.querySelector(".reg-step3-box")
            if (box2 && box3) {
                box2.classList.add("-move-up")
                setTimeout(() => {
                    box2.classList.remove("-move-up")
                    box2.classList.add("-hidden")
                    box3.classList.remove("-hidden")
                }, 500)
            }

        }


        function checkPassword(passwordInput) {
            passwordInput.classList.toggle("-short-student-password", passwordInput.value.length < 5)
            const passwordInfo = document.querySelector(".password-info")
            if (passwordInfo) {
                passwordInfo.classList.toggle("-hidden", passwordInput.value.length > 4)
            }
        }


    </script>

</body>
</html>