<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Bolt | Student Profile</title>

    <link rel="shortcut icon" href="/static/img/logo-transp.png">
    <link rel="stylesheet" href="/routers/views/userHome.css">
</head>
<body>

    <%
        const issuesArray = {
            "wrongCurrentPassword": "Wrong current password",
            "blankCurrentPassword": "Please enter a current password",
            "blankNewPassword": "A new password cannot be blank",
            "newPasswLen": "A new password is too short",
            "equalCurrentNew": "There is nothing to update, a new password is equal to current",
            "schoolNotSpecified": "Cannot upload data, because your CDL School is not specified",
            "schoolDataNotFound": "Your email is not assigned to any student data in the CDL School you specified. Try to update the email",
            "blockStatusUpdatedIssue": "An issue occurred when changing block status",
        }
        const infoArray = {
            "passwChanged": "Password was successfully updated",
            "schoolUploadedOk": "School data successfully uploaded",
            "extraUploadedOk": "Extra data successfully uploaded",
            "blockStatusUpdatedOk": "Block status successfully updated",
        }
        function getLocalDate(date) {
            return Date.parse(date) ? date.toLocaleDateString('en-US', { timeZone: 'America/Los_Angeles' }) : date
        }
        function getLocalDateTime(date) {
            return Date.parse(date) ? date.toLocaleString('en-CA', { timeZone: 'America/Los_Angeles', hour12: false }) : date
        }
        function formatIfDate(date) {
            return Date.parse(date) ? getLocalDateTime(new Date(date)) : date
        }
        function ifSelected(option, value) {
            return option === value ? "selected" : ""
        }
    %>

    <form class="logout-form" action="/user/logout" method="POST">
        <button type="submit" title="Sign Out">
            <svg viewBox="0 0 448 512">
                <path d="M384 32C419.3 32 448 60.65 448 96V416C448 451.3 419.3 480 384 480H64C28.65 480 0 451.3 0 416V96C0 60.65 28.65 32 64 32H384zM143 208.1L190.1 255.1L143 303C133.7 312.4 133.7 327.6 143 336.1C152.4 346.3 167.6 346.3 176.1 336.1L223.1 289.9L271 336.1C280.4 346.3 295.6 346.3 304.1 336.1C314.3 327.6 314.3 312.4 304.1 303L257.9 255.1L304.1 208.1C314.3 199.6 314.3 184.4 304.1 175C295.6 165.7 280.4 165.7 271 175L223.1 222.1L176.1 175C167.6 165.7 152.4 165.7 143 175C133.7 184.4 133.7 199.6 143 208.1V208.1z" />
            </svg>
        </button>
    </form>

    <div class="main-box">
        <div class="main-card">
            <h1 class="profile-title">Profile</h1>
            <form class="update-form -container" action="/user/password-update" method="POST">
                <div class="inputs">
                    <input type="password" name='currentPassword' placeholder="Current Password" required />
                    <input type="password" name='newPassword' placeholder="New Password" required />
                </div>
                <div class="buttons">
                    <label class="show-password" for="showPasswords">
                        <input type="checkbox" id='showPasswords'/>
                        show passwords
                    </label>
                    <button class="-btn" type="submit">Update Password</button>
                </div>
            </form>

            <div class="info-box">
                <% if(locals.issue) { %>
                    <% if(issuesArray[issue]) { %>
                        <h2 class="issue-msg"><%= issuesArray[issue] %></h2>
                    <% } else { %>
                        <h2 class="issue-msg"><%= issue %></h2>
                    <% } %>
                <% } %>
                <% if(locals.info) { %>
                    <% if(infoArray[info]) { %>
                        <h2 class="info-msg"><%= infoArray[info] %></h2>
                    <% } else { %>
                        <h2 class="info-msg"><%= info %></h2>
                    <% } %>
                <% } %>
            </div>

            <% if(locals.user) { %>
                <h2 class="user-name">
                    <span class="user-first-name"><%= user.firstname %></span>
                    <span class="user-last-name"><%= user.lastname %></span>
                </h2>
                <ul class="innerlist -container">
                    <li class="user-email"><%= user.email %></li>
                    <li class="user-phone"><%= user.phone %></li>
                    <li class="user-cdlschool"><%= user.cdlschool %></li>
                    <li class="user-block">
                        <form class="user-block-box" action="/user/update-blocked" method="post">
                            <span>User blocked record info:</span>
                            <% if(user.userBlock) { %>
                                <span>Yes*</span>
                                <button class="-btn" type="submit">unblock me</button><br>
                                <small class="user-blocked-yes">*New employers cannot see your data</small>
                            <% } else { %>
                                <span>No*</span>
                                <button class="-btn" type="submit">block me</button><br>
                                <small class="user-blocked-no">*Your profile is visible for employers</small>
                            <% } %>
                        </form>
                    </li>
                    <li class="admin-block">
                        <span>Blocked by Admin:</span>
                        <% if(user.adminBlock) { %>
                            <span class="admin-blocked-yes">Yes</span>
                        <% } else { %>
                            <span class="admin-blocked-no">No</span>
                        <% } %>
                    </li>
                    <li class="user-created">
                        <span class="date-text">Created at:</span>
                        <span class="date-value"><%= getLocalDateTime(user.createdAt) %></span>
                    </li>
                    <li class="user-lastSESS">
                        <span class="date-text">Last session:</span>
                        <span class="date-value"><%= getLocalDateTime(user.lastSESS) %></span>
                    </li>
                </ul>
                <div class="-container">
                    <div>
                        <span class="date-text">Employers downloaded your profile:</span>
                        <span class="date-value"><%= user.loadedQty %></span>
                    </div>
                    <small class="-note">
                        <span>Your inner <strong>scoring rate is <%= user.score %></strong>(max can be more than 20).</span>
                        <span class="hgh-text">A higher scoring rate increases your chances to be hired. To increase your scoring rate make sure you have both school data and work preferences blocks filled out. Also, try to keep employers updated with your school progress, reloading your school data as often as needed.</span>
                    </small>
                    <% if(user.score) { %>
                        <div class="scoring-rate-box">
                            <% for(let i=0; i < user.score; i++) { %>
                                <svg class="-star" viewBox="0 0 576 512">
                                    <path d="M381.2 150.3L524.9 171.5C536.8 173.2 546.8 181.6 550.6 193.1C554.4 204.7 551.3 217.3 542.7 225.9L438.5 328.1L463.1 474.7C465.1 486.7 460.2 498.9 450.2 506C440.3 513.1 427.2 514 416.5 508.3L288.1 439.8L159.8 508.3C149 514 135.9 513.1 126 506C116.1 498.9 111.1 486.7 113.2 474.7L137.8 328.1L33.58 225.9C24.97 217.3 21.91 204.7 25.69 193.1C29.46 181.6 39.43 173.2 51.42 171.5L195 150.3L259.4 17.97C264.7 6.954 275.9-.0391 288.1-.0391C300.4-.0391 311.6 6.954 316.9 17.97L381.2 150.3z" />
                                </svg>
                            <% } %>
                        </div>
                    <% } %>
                </div>
            <% } %>
            <div class="-container">
                <input type="checkbox" name="fullScreenSize" id="fullScreenSize" onchange="toggleFullScreen(this)" />
                <label for="fullScreenSize">full screen display</label>
            </div>
        </div>  <!-- main-card -->

        <!-- card: Uploaded school data -->
        <div class="main-card">
            <% if(locals.user) { %>
                <!-- upload school data if specified -->
                <% if(user.cdlschool != "unspecified") { %>
                    <form class="uploaded-data-box" action="/user/upload-school-data/<%= user.cdlschool %>" method="post">
                        <% if(user.uploadedFlag) { %>
                            <h3 class="uploaded-data-title">Uploaded school data</h3>
                            <h4 class="uploaded-date"><%= getLocalDateTime(new Date(user.uploadedAt)) %></h4>
                            <ul class="uploaded-data-list -container">
                                <li>
                                    <span class="list-title">student name:</span>
                                    <span class="list-value"><%= user.uploadedData.schoolFirstname %> <%= user.uploadedData.schoolLastname %></span>
                                </li>
                                <li>
                                    <span class="list-title">student phone:</span>
                                    <span class="list-value"><%= user.uploadedData.schoolPhone %></span>
                                </li>
                                <li class="list-last-item">
                                    <span class="list-title">student CDL Class:</span>
                                    <span class="list-value"><%= user.uploadedData.schoolClass %></span>
                                </li>
                                <li>
                                    <span class="list-title">transmission:</span>
                                    <span class="list-value"><%= user.uploadedData.schoolTransmission %></span>
                                </li>
                            </ul>
                            <ul class="uploaded-data-list -container">
                                <li>
                                    <span class="list-title">tuition start date:</span>
                                    <span class="list-value"><%= formatIfDate(user.uploadedData.schoolTuitionStartDate) %></span>
                                </li>
                                <li>
                                    <span class="list-title">tuition end date:</span>
                                    <span class="list-value"><%= formatIfDate(user.uploadedData.schoolTuitionEndDate) %></span>
                                </li>
                                <li>
                                    <span class="list-title">tuition status:</span>
                                    <span class="list-value"><%= user.uploadedData.schoolStatus %></span>
                                </li>
                                <li>
                                    <span class="list-title">tuition result(pass/fail):</span>
                                    <span class="list-value"><%= user.uploadedData.schoolPassFail %></span>
                                </li>
                                <li>
                                    <span class="list-title">course abandoned:</span>
                                    <span class="list-value"><%= user.uploadedData.schoolIfDeclined %></span>
                                </li>
                            </ul>
                            <h4 class="uploaded-date">Scoring data</h4>
                            <ul class="uploaded-data-list -container">
                                <li>
                                    <span class="list-title">last IN-CAB test:</span>
                                    <span class="list-value"><%= user.uploadedData.schoolInCab %></span>
                                </li>
                                <li class="list-last-item">
                                    <span class="list-title">last OUT-CAB test:</span>
                                    <span class="list-value"><%= user.uploadedData.schoolOutCab %></span>
                                </li>
                                <li>
                                    <span class="list-title">last Straight Line Backing test:</span>
                                    <span class="list-value"><%= user.uploadedData.schoolStraightLineBacking %></span>
                                </li>
                                <li>
                                    <span class="list-title">last Offset/Alley Backing test:</span>
                                    <span class="list-value"><%= user.uploadedData.schoolOffsetAndAlleyBacking %></span>
                                </li>
                                <li>
                                    <span class="list-title">last City Driving test:</span>
                                    <span class="list-value"><%= user.uploadedData.schoolCityDriving %></span>
                                </li>
                            </ul>
                            <small>* you can update your data as it changes</small>
                            <button class="-btn" type="submit">reload data</button>
                        <% } else { %>
                            <h3 class="uploaded-nodata">No uploaded data</h3>
                            <small>* your data will not be available to the employer until you download it from the school profile</small>
                            <button class="-btn" type="submit">upload data</button>
                        <% } %>
                    </form>

                    <!-- should be here, because ".uploaded-data-box" can be undefined -->
                    <script>
                        document.querySelector(".uploaded-data-box").addEventListener("submit", (e) => {
                            if (!confirm("Would you like to update a school data?")) {
                                return e.preventDefault()
                            }
                        })
                    </script>
                <% } %>     <!-- if school specified -->
            <% } %>
        </div>  <!-- main-card -->


        <!-- extra data -->
        <div class="main-card">
            <% if(locals.user) { %>
                <form class="upload-extra-box" action="/user/upload-extra-data" method="post">
                    <h3 class="extra-data-title">Work preferences</h3>
                    <% if(user.extraFlag) { %>
                        <h4 class="extra-date"><%= getLocalDateTime(new Date(user.extraAddedAt)) %></h4>
                    <% } else { %>
                        <h3 class="no-extra-data">additional data increases the chance that your record will be noticed by employers</h3>
                    <% } %>
                    <ul class="extra-data-list -container">
                        <li>
                            <label for="gender">Gender</label>
                            <select name="gender" id="gender" data-value="<%= user.extraData.gender %>" required>
                                <% ["no info", "Male", "Female"].forEach(value => { %>
                                    <option value="<%= value %>" <%= ifSelected(user.extraData.gender, value) %> ><%= value %></option>
                                <% }) %>
                            </select>
                        </li>
                        <li>
                            <label for="endorsements">Endorsements</label>
                            <select name="endorsements" id="endorsements" data-value="<%= user.extraData.endorsements %>" required>
                                <% ["No", "Bus", "School Bus", "Tanker", "Hazmat"].forEach(value => { %>
                                    <option value="<%= value %>" <%= ifSelected(user.extraData.endorsements, value) %> ><%= value %></option>
                                <% }) %>
                            </select>
                        </li>
                        <li>
                            <label for="worktype">Hours of work</label>
                            <select name="worktype" id="worktype" data-value="<%= user.extraData.worktype %>" required>
                                <% ["Full time", "Part time"].forEach(value => { %>
                                    <option value="<%= value %>" <%= ifSelected(user.extraData.worktype, value) %> ><%= value %></option>
                                <% }) %>
                            </select>
                        </li>
                        <li>
                            <label for="teamwork">Readiness for team work</label>
                            <select name="teamwork" id="teamwork" data-value="<%= user.extraData.teamwork %>" required>
                                <% ["Yes", "No"].forEach(value => { %>
                                    <option value="<%= value %>" <%= ifSelected(user.extraData.teamwork, value) %> ><%= value %></option>
                                <% }) %>
                            </select>
                        </li>
                        <li>
                            <label for="distancework">Distance</label>
                            <select name="distancework" id="distancework" data-value="<%= user.extraData.distancework %>" required>
                                <% ["Interstate", "Regional", "City"].forEach(value => { %>
                                    <option value="<%= value %>" <%= ifSelected(user.extraData.distancework, value) %> ><%= value %></option>
                                <% }) %>
                            </select>
                        </li>
                        <li>
                            <label for="truckbrand">Truck brand</label>
                            <select name="truckbrand" id="truckbrand" data-value="<%= user.extraData.truckbrand %>" required>
                                <% ["Volvo", "FRTH", "PTBLT", "Western", "Kenworth"].forEach(value => { %>
                                    <option value="<%= value %>" <%= ifSelected(user.extraData.truckbrand, value) %> ><%= value %></option>
                                <% }) %>
                            </select>
                        </li>
                        <li>
                            <label for="yearslist">Truck year</label>
                            <input type="text" name="yearslist" id="yearslist" placeholder="year1, year2, year3..." data-value="<%= user.extraData.yearslist %>" value="<%= user.extraData.yearslist != 'not uploaded' ? user.extraData.yearslist : ''  %>" required />
                        </li>
                        <li>
                            <label for="trailertype">Trailer type</label>
                            <select name="trailertype" id="trailertype" data-value="<%= user.extraData.trailertype %>" required>
                                <% ["Van", "Reffer", "Faltbad", "Carhauling"].forEach(value => { %>
                                    <option value="<%= value %>" <%= ifSelected(user.extraData.trailertype, value) %> ><%= value %></option>
                                <% }) %>
                            </select>
                        </li>
                        <li>
                            <label for="paytype">Pay type/Amount</label>
                            <select name="paytype" id="paytype" data-value="<%= user.extraData.paytype %>" required>
                                <% ["$/mile", "$/hour", "% per gross"].forEach(value => { %>
                                    <option value="<%= value %>" <%= ifSelected(user.extraData.paytype, value) %> ><%= value %></option>
                                <% }) %>
                            </select>
                        </li>
                        <li>
                            <label for="notes">Notes</label>
                            <textarea name="notes" id="notes" data-value="<%= user.extraData.notes %>"><%= user.extraData.notes %></textarea>
                        </li>
                    </ul>
                    <small>* you can update extra-data as it changes</small>
                    <button class="-btn" type="submit">save extra data</button>
                </form>     <!-- extra data form -->
            <% } %>
        </div>  <!-- main-card -->

    </div>  <!-- main-box -->


    <script defer>

        // 'show password' reaction
        document.querySelector('#showPasswords').addEventListener('change', (e) => {
            document.querySelector('input[name="currentPassword"]').type = e.target.checked ? 'text' : 'password'
            document.querySelector('input[name="newPassword"]').type = e.target.checked ? 'text' : 'password'
        })


        // form upload-extra-data on submit, check is updated
        document.querySelector(".upload-extra-box").addEventListener("submit", (e) => {
            let prevDefault = true
            // check if #yearslist changed
            const yearslist = document.querySelector("#yearslist")
            prevDefault = yearslist.dataset.value === yearslist.value
            if (prevDefault) {
                // check if #notes changed
                const notes = document.querySelector("#notes")
                prevDefault = notes.dataset.value === notes.value
                if (prevDefault) {
                    // check if any select changed
                    const selects = document.querySelectorAll(".extra-data-list select")
                    for (let i=0; i < selects.length; i++) {
                        if (selects[i].dataset.value != selects[i].value) {
                            prevDefault = false
                            break
                        }
                    }
                }
            }
            //  there is nothing to change
            if (prevDefault) {
                alert("Nothing is changed in the extra data section")
                return e.preventDefault()
            }
            // confirm if would like to update
            if (!confirm("Would you like to update an extra data section?")) {
                return e.preventDefault()
            }
        })


        function toggleFullScreen(fsInput) {
            const cards = document.querySelectorAll(".main-card")
            if (!cards) { return }
            cards.forEach(card => {
                card.style.minHeight = card.style.minHeight != "90vh" ? "90vh" : "unset"
            })
        }

    </script>

</body>
</html>