@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800;900&display=swap');

:root {
	--primary-color: #2d2254;
    
    --primary-grad1: var(--primary-color);
    --primary-grad2: #402f7c;

	--secondary-color: #f5c42f;
	--text-color: #c5bbec;

    font-size: 15px;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body {
    min-height: 100vh;
	font-family: 'Montserrat', sans-serif;
    color: #fff;
	background: var(--primary-grad2);
}

/* Hide Scrollbars But Keep Functionality */
html, body {
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
html::-webkit-scrollbar, body::-webkit-scrollbar {
    /* Hide scrollbar for Chrome, Safari and Opera */
    display: none;
}

.-container {
    padding: 10px;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

.main-box {
    width: 90%;
    max-width: 1500px;
    margin: 5vh auto;

    min-height: 100vh;

    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

.main-card {
    width: 30%;
    max-width: 425px;
    /* min-height: 90vh; */

    padding: 1rem;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 2.5rem;

    transition: all 0.25s linear;
}
.main-card:hover {
    transform: translateY(-1px);
    opacity: 0.9;
}

.logout-form {
    position: absolute;
    top: 1rem;
    right: 1rem;
}
.logout-form button {
    width: 2rem;
    height: 2rem;

    display: flex;
    outline: none;
    border: none;

    background-color: transparent;
}
.logout-form svg {
    width: 100%;
    height: 100%;

    fill: var(--text-color);

    cursor: pointer;

    transition: all 0.2s linear;
}
.logout-form svg:hover {
    transform: translateY(-2px);
    opacity: 0.9;
}


/* profile card */

.profile-title {
    font-size: 2.2rem;
    color: var(--secondary-color);
}
.update-form .inputs {
    display: inline-flex;
}
.update-form .buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.update-form .inputs input {
    width: 50%;
    height: 1.7em;

    font-family: 'Montserrat', sans-serif;
    font-size: 1.15rem;

    outline: none;

    margin-bottom: 5px;
}
.-btn {
    padding: 4px 10px;

    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    color: #fff;

    border: none;

    background-color: var(--primary-color);
    cursor: pointer;

    transition: all 0.2s linear;
}
.-btn:hover {
    background-color: var(--primary-grad2);
}

.info-box {
    margin: 1.2rem 0;
}
.issue-msg, .info-msg {
    font-size: 1.35rem;
    color: var(--secondary-color);
    font-weight: normal;
    text-align: justify;
}
.info-msg {
    font-size: 1.35rem;
    color: var(--primary-color);
    font-weight: bolder;
    text-align: center;
}

.user-last-name {
    color: var(--primary-color);
}
.innerlist li {
    margin-bottom: 0.35rem;
}
.user-phone {
    font-weight: 600;
    letter-spacing: 0.7px;
    color: #f3cd5a;
}
.user-block {
    margin: 5px 0;
    padding: 0 2px;

    border: 1px solid var(--primary-color);
    border-radius: 5px;
}
.user-blocked-no {
    color: var(--primary-color);
    font-weight: bolder;
}
.user-blocked-yes,
.admin-blocked-yes {
    color: #f3cd5a;
}
.date-text {
    font-weight: 600;
    color: var(--primary-color);
}


/* Uploaded school & extra data */
.uploaded-data-list,
.extra-data-list {
    margin-top: 2px;
}

.uploaded-data-title,
.extra-data-title {
    color: #f3cd5a;
}
.uploaded-data-list li {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;

    margin-bottom: 5px;
}
.list-title {
    font-weight: 600;
    color: var(--primary-color);
}
.list-last-item {
    margin-bottom: 1rem !important;
}

.extra-data-list li {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-between;
}
.extra-data-list label {
    margin-bottom: 0.67rem;
}
.extra-data-list select,
.extra-data-list input,
.extra-data-list textarea {
    padding: 2px 0;
    width: 45%;

    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;

    background-color: #c5bbec26;

    border: none;
    outline: none;
}
.extra-data-list input {
    padding: 3px 4px;
}
.extra-data-list textarea {
    padding: 3px;
    height: 4rem;

    resize: none;
}
.extra-data-list select:focus,
.extra-data-list input:focus,
.extra-data-list textarea:focus {
    background-color: #c5bbec77;
}

.-note {
    display: inline-block;
    text-align: justify;
}
.hgh-text {
    color: #f9bdbd;
}

.scoring-rate-box {
    display: flex;
    align-items: center;
}
.-star {
    width: 1.25rem;
    fill: #f3cd5a;
}

@media (max-width: 1000px) {
    .main-box {
        flex-direction: column;
        align-items: center;
    }
    .main-card {
        margin: 5px 0;
        width: 100%;
        min-height: unset !important;
    }
}