.about-soft-header {
    width: 100%;
    min-height: 100vh;

    position: relative;
    overflow: hidden;

    background-color: rgba(45, 34, 84, 0.8);
    margin-bottom: 100px;
}

.about-soft-header video {
    position: absolute;
    inset: 0;
    
    width: 100%;
    min-height: 100vh;

    object-fit:cover;
}

.about-soft-header-inner {
    left: 0;
    top: 0;
    width: 100%;
    min-height: 100%;

    position: absolute;

    display: flex;
    align-items: center;

    background-color: rgba(45, 34, 84, 0.8);
    /* z-index: 1; */

    transition: all 1.5s ease-in;
}

#closeVideo {
    color: rgba(255, 255, 255, 0.6);

    border-radius: 100%;
    cursor: pointer;

    transform: translateX(-100%);
    transition: all 1s cubic-bezier(0.39,-0.51, 1, 0.47);
    z-index: 10;
}


.about-soft-header-info {
    position: absolute;
    inset: 0;

    padding: 0 30px 0 55%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    z-index: 1;

    transition: all 1s ease-in;
}

.about-soft-header-info h2 {
    width: 100%;
    font-size: 65px;
    text-align: left;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
}
.about-soft-header-info h3 {
    width: 100%;
    font-size: 30px;
    text-align: left;
    text-transform: uppercase;
    font-weight: bolder;
    color: #fff;
}

.main-info {
    font-size: 14px;
}
.main-info strong {
    color: yellow;
}

.about-soft-header-info button {
    display: inline-block;

    min-width: 200px;
    padding: 15px 30px;

    font-size: 16px;
    background-color: rgba(197, 187, 236, 0.5);
    color: #fff;

    border: none;
    border-radius: 30px;

    cursor: pointer;

    transition: all 1s ease-in;
}
.about-soft-header-info button:hover,
#closeVideo:hover {
    transform: translateY(-5px);

    -webkit-box-shadow: 0px 5px 10px 2px rgba(255, 255, 255, 0.5);
    -moz-box-shadow: 0px 5px 10px 2px rgba(255, 255, 255, 0.5);
    box-shadow: 0px 5px 10px 2px rgba(255, 255, 255, 0.5);

    transition: all 0.2s linear;
}

.about-soft-header .social {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.about-soft-header .social i {
    color: rgba(255, 255, 255, 0.5);
}

@media (max-width: 1110px) {
    .about-soft-header-info {
        padding-left: 45%;
    }
}
@media (max-width: 900px) {
    .about-soft-header-info {
        padding-left: 30%;
    }
    .about-soft-header-info h2 {
        font-size: 45px;
    }
    .about-soft-header-info h3 {
        font-size: 20px;
        line-height: 1.35em;
    }
    .main-info {
        font-size: 13px;
        line-height: 1.5em;
    }
}
@media (max-width: 530px) {
    .about-soft-header-info {
        padding: 0 10px 0 30px;
    }
    .about-soft-header-info h2 {
        font-size: 40px;
    }
    .about-soft-header-info h3 {
        font-size: 18px;
    }
    .main-info {
        margin: 5px 0;
        font-size: 12px;
    }
    .social {
        margin-top: 1rem !important;
    }
}
